.navbar, .navbar .navbar-inner {
	min-height: 75px;
}

.navbar .navbar-inner {
	background-color: #ef4130;
}

.navbar-header.pull-left {
	margin-left: -15px;
	background-color: #ffffff;
	width: 229px;
	padding-top: 5px;
	padding-bottom: 25px;
}

.navbar-brand {
	padding-left: 29px !important;
}

.navbar .navbar-brand small img {
	height: auto!important;
	margin-top: -10px;
}

.navbar .sidebar-collapse {
	text-align: center;
	padding: 0;
	z-index: 2;
	width: 35px;
	height: 45px;
	position: absolute;
	left: 224px;
	top: 30px;
}

#navbar-app-name {
	padding-top: 38px;
	font-size: 2em;
	color: #ffffff;
	line-height: 28px;
}

#navbar-app-name > span {
	margin-left: 35px;
}

.navbar .navbar-inner .navbar-header .navbar-account {
	height: 75px;
}

.navbar .navbar-inner .navbar-header .navbar-account .account-area, .navbar .navbar-inner .navbar-header .navbar-account .setting {
	top: 30px!important;
}

.navbar .navbar-inner .navbar-header .navbar-account .account-area .login-area {
	min-width: 200px;
}

.navbar .sidebar-collapse.active .collapse-icon {
	box-shadow: none;
	-webkit-box-shadow: none;
}

.page-sidebar .sidebar-header-wrapper .searchicon, .breadcrumb>li>a {
	color: #ef4130;
}

.navbar .navbar-inner .navbar-header .navbar-account .account-area .login-area .avatar {
	border-left: none;
}

.navbar .navbar-inner .navbar-header .navbar-account .account-area > li.open > a,
.navbar .navbar-inner .navbar-header .navbar-account .account-area > li .dropdown-menu.dropdown-login-area > li .avatar-area .caption,
.navbar .navbar-inner .navbar-header .navbar-account.setting-open .setting,
.page-sidebar .sidebar-menu li:before {
	background-color: #ef4130;
}

.navbar .navbar-inner .navbar-header .navbar-account .account-area > li .dropdown-menu.dropdown-login-area > li.dropdown-footer {
	border-top: 3px solid #ef4130;
}

.navbar .navbar-inner .navbar-header .navbar-account .account-area>li .dropdown-menu.dropdown-login-area>li.edit a {
	padding: 9px 2px;
}

.navbar .navbar-inner .navbar-header .navbar-account .account-area>li .dropdown-menu.dropdown-login-area>li.edit a:hover {
	color: #ef4130;
}

.navbar .navbar-inner .navbar-header .navbar-account.setting-open .setting-container {
	top: 30px;
}

.navbar .navbar-inner .navbar-header .navbar-account .setting-container input[type=checkbox]+.text:before {
	border-color: #ef4130!important;
}

@media only screen and (max-width: 530px) {
	.navbar {
		height: 75px;
	}
	.navbar, .navbar .navbar-inner {
		min-height: 75px;
	}
	.navbar .navbar-inner .navbar-header.pull-right {
		float: right!important;
	}
	.navbar .navbar-inner .navbar-header .navbar-account .account-area, .navbar .navbar-inner .navbar-header .navbar-account .setting {
		top: 30px!important;
	}

	.navbar-fixed-top+.main-container {
		margin-top: 75px!important;
	}

	.navbar .navbar-inner .navbar-header .navbar-account.setting-open .setting,
	.navbar .navbar-inner .navbar-header .navbar-account.setting-open .setting-container {
		left: auto;
		right: 0;
	}

	.breadcrumbs-fixed {
		top: 75px!important;
	}

	.page-header-fixed {
		top: 115px!important;
	}

	.navbar .navbar-inner .navbar-header .navbar-account .setting-container {
		top: 75px!important;
		background-color: #fff;
		height: auto;
		padding: 20px!important;
		width: 200px!important;
	}

	.navbar .navbar-inner .navbar-header .navbar-account .setting-container input[type=checkbox]+.text,
	.navbar .navbar-inner .navbar-header .navbar-account .setting-container input[type=checkbox]:checked+.text {
		color: #333;
	}
}

/* MARGINS & PADDINGS */
.p-xxs {
	padding: 5px !important;
}
.p-xs {
	padding: 10px !important;
}
.p-sm {
	padding: 15px !important;
}
.p-m {
	padding: 20px !important;
}
.p-md {
	padding: 25px !important;
}
.p-lg {
	padding: 30px !important;
}
.p-xl {
	padding: 40px !important;
}
.m-xxs {
	margin: 2px 4px;
}
.m-xs {
	margin: 5px;
}
.m-sm {
	margin: 10px;
}
.m {
	margin: 15px;
}
.m-md {
	margin: 20px;
}
.m-lg {
	margin: 30px;
}
.m-xl {
	margin: 50px;
}
.m-n {
	margin: 0 !important;
}
.m-l-none {
	margin-left: 0;
}
.m-l-xs {
	margin-left: 5px;
}
.m-l-sm {
	margin-left: 10px;
}
.m-l {
	margin-left: 15px;
}
.m-l-md {
	margin-left: 20px;
}
.m-l-lg {
	margin-left: 30px;
}
.m-l-xl {
	margin-left: 40px;
}
.m-l-n-xxs {
	margin-left: -1px;
}
.m-l-n-xs {
	margin-left: -5px;
}
.m-l-n-sm {
	margin-left: -10px;
}
.m-l-n {
	margin-left: -15px;
}
.m-l-n-md {
	margin-left: -20px;
}
.m-l-n-lg {
	margin-left: -30px;
}
.m-l-n-xl {
	margin-left: -40px;
}
.m-t-none {
	margin-top: 0;
}
.m-t-xxs {
	margin-top: 1px;
}
.m-t-xs {
	margin-top: 5px;
}
.m-t-sm {
	margin-top: 10px;
}
.m-t {
	margin-top: 15px;
}
.m-t-md {
	margin-top: 20px;
}
.m-t-lg {
	margin-top: 30px;
}
.m-t-xl {
	margin-top: 40px;
}
.m-t-xxl {
	margin-top: 50px;
}
.m-t-xxxl {
	margin-top: 60px;
}
.m-t-n-xxs {
	margin-top: -1px;
}
.m-t-n-xs {
	margin-top: -5px;
}
.m-t-n-sm {
	margin-top: -10px;
}
.m-t-n {
	margin-top: -15px;
}
.m-t-n-md {
	margin-top: -20px;
}
.m-t-n-lg {
	margin-top: -30px;
}
.m-t-n-xl {
	margin-top: -40px;
}
.m-r-none {
	margin-right: 0;
}
.m-r-xxs {
	margin-right: 1px;
}
.m-r-xs {
	margin-right: 5px;
}
.m-r-sm {
	margin-right: 10px;
}
.m-r {
	margin-right: 15px;
}
.m-r-md {
	margin-right: 20px;
}
.m-r-lg {
	margin-right: 30px;
}
.m-r-xl {
	margin-right: 40px;
}
.m-r-n-xxs {
	margin-right: -1px;
}
.m-r-n-xs {
	margin-right: -5px;
}
.m-r-n-sm {
	margin-right: -10px;
}
.m-r-n {
	margin-right: -15px;
}
.m-r-n-md {
	margin-right: -20px;
}
.m-r-n-lg {
	margin-right: -30px;
}
.m-r-n-xl {
	margin-right: -40px;
}
.m-b-none {
	margin-bottom: 0;
}
.m-b-xxs {
	margin-bottom: 1px;
}
.m-b-xs {
	margin-bottom: 5px;
}
.m-b-sm {
	margin-bottom: 10px;
}
.m-b {
	margin-bottom: 15px;
}
.m-b-md {
	margin-bottom: 20px;
}
.m-b-lg {
	margin-bottom: 30px;
}
.m-b-xl {
	margin-bottom: 40px;
}
.m-b-n-xxs {
	margin-bottom: -1px;
}
.m-b-n-xs {
	margin-bottom: -5px;
}
.m-b-n-sm {
	margin-bottom: -10px;
}
.m-b-n {
	margin-bottom: -15px;
}
.m-b-n-md {
	margin-bottom: -20px;
}
.m-b-n-lg {
	margin-bottom: -30px;
}
.m-b-n-xl {
	margin-bottom: -40px;
}
.space-15 {
	margin: 15px 0;
}
.space-20 {
	margin: 20px 0;
}
.space-25 {
	margin: 25px 0;
}
.space-30 {
	margin: 30px 0;
}
