body::before {
	background-color: #fff8f2;
}

.login-container-1 {
	/*margin-top: 30%;*/
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
	/*max-width: none;*/
	margin: 5% auto;
	background-color: #fff;
}

.login-form-1 {
	padding: 5%;
}

.login-form-1 h3 {
	text-align: center;
	color: #333;
}

.login-form-2 {
	padding: 5%;
	background: #ffffff;
}

.login-form-2 h3 {
	text-align: center;
	color: #fff;
}

.login-container form {
	padding: 8%;
}

.btnSubmit {
	width: 30%;
	border-radius: 1rem;
	padding: 1.5%;
	border: none;
	cursor: pointer;
}

.login-form-1 .btnSubmit {
	font-weight: 600;
	color: #fff;
	background-color: #bada55;
}

.login-form-2 .btnSubmit {
	border-radius: 8px;
	font-weight: 600;
	color: #FFFFFF;
	background-color: #df8b5d;
	outline: none;
	width:100%;
}

.login-form-2 .btnSubmit:hover {
	transition: 5ms;
	background-color: #f7b51e;
	outline: none;
}

.login-form-2 .ForgetPwd {
	color: #fff;
	font-weight: 600;
	text-decoration: none;
}

.login-form-1 .ForgetPwd {
	color: #0062cc;
	font-weight: 600;
	text-decoration: none;
}

.vl {
	border-left: 2px solid;
	border-color: #df8b5d;
	height: 80%;
	position: absolute;
	top: 10%;
	left: 0;
	margin-left: -1px;
}
