.breadcrumb_service_detail .breadcrumb {
	display: flex!important;
	padding: 0!important;
}

.section-business-registration input {
	border-radius: 25px!important;
}
.btn-register {
	border-radius: 25px;
	color: white;
	background-color: #008b8b;
	padding-left: 4rem;
	padding-right: 4rem;
}
.btn-register:hover {
	color: white;
}
