.section-category .text-caption {
	font-size: 1rem;
}

.latest-services .title_wrapper, .hot-services .title_wrapper {
	padding-bottom: 10px;
}

.latest-services .card-header, .hot-services .card-header {
	position: relative;
}
.latest-services .manager-pic, .hot-services .manager-pic {
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 30%;
}

.latest-services h2, .hot-services h2 {
	margin-bottom: 0;
}

.latest-services .tab-box > div:first-child, .hot-services .tab-box > div:first-child {
	border-top: 1px solid #008b8b;
	border-left: 1px solid #008b8b;
	border-right: 1px solid #008b8b;
	width: 50%;
	padding: 1rem 0 0.5rem 2rem;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-left: auto!important;
	margin-right: auto!important;
}

.latest-services .tab-box > div:first-child .col-md-8, .hot-services .tab-box > div:first-child .col-md-8 {
	justify-content: flex-end!important;
	display: flex!important;
}

.latest-services .tab-box .nav-item .nav-link, .hot-services .tab-box .nav-item .nav-link {
	padding: 0.5rem 1rem!important;
	border-right: 1px solid #000;
}

.latest-services .tab-box .nav-item:last-child .nav-link, .hot-services .tab-box .nav-item:last-child .nav-link {
	border-right: none;
}

.latest-services .tab-box .nav-item .nav-link.active, .hot-services .tab-box .nav-item .nav-link.active {
	color: #008b8b!important;
}

@media screen and (max-width: 576px) {
	.section-category .text-caption {
		font-size: .75rem;
	}
}

@media screen and (max-width: 768px) {
	.latest-services .tab-box > div:first-child .col-md-8, .hot-services .tab-box > div:first-child .col-md-8 {
		justify-content: flex-start!important;
	}
	.latest-services .tab-box > div:first-child, .hot-services .tab-box > div:first-child {
		width: 100%!important;
	}
	.show_more_btn {
		right: 20px!important;
	}
}

@media screen and (max-width: 1200px) {
	.latest-services .tab-box > div:first-child, .hot-services .tab-box > div:first-child {
		width: 90%;
		margin-left: 0!important;
		margin-right: auto!important;
	}
}

::marker {
    background-color: black!important;
    color: #008b8b!important;
    font-size: 1em;
}