@import 'courtage';

.footer {
  td {
	color: rgb(33, 37, 41);
	padding-left: 5px;
	padding-right: 5px;
	a {
	  color: rgb(33, 37, 41);
	  text-decoration: none;
	}
  }
  .nav {
	.nav-item {
	  padding: 0;
	  .nav-link {
		padding: 0.5rem 1rem !important;
		color: rgb(33, 37, 41) !important;
		font-weight: 400;
	  }
	}
  }
  .searchBar {
	input[type=text] {
	  padding: 6px;
	  margin-top: 8px;
	  font-size: 17px;
	  border: none;
	  border-top-left-radius: 25px;
	  -moz-border-top-left-radius: 25px;
	  border-bottom-left-radius: 25px;
	  -moz-border-bottom-left-radius: 25px;
	}

	button {
	  //float: right;
	  padding: 0 15px;
	  margin-top: 8px;
	  margin-right: 16px;
	  background: $main-color;
	  color: #fff;
	  font-size: 17px;
	  border: none;
	  cursor: pointer;
	  border-top-right-radius: 25px;
	  -moz-border-top-right-radius: 25px;
	  border-bottom-right-radius: 25px;
	  -moz-border-bottom-right-radius: 25px;
	}
  }
}

//@media screen and (max-width: 600px) {
//  .footer {
//	.searchBar {
//	  input[type=text], button {
//		float: none;
//		display: block;
//		text-align: left;
//		width: 100%;
//		margin: 0;
//		padding: 14px;
//	  }
//
//	  input[type=text] {
//		border: 1px solid #ccc;
//	  }
//	}
//  }
//}
