
.service_search, .provider_search, .media_search {
	background-color: #f2f9f9;
}

.service_search > .container > .row:first-child,
.provider_search > .container > .row:first-child,
.media_search > .container > .row:first-child {
	border: none;
	background-color: transparent;
	margin-top: 0;
	margin-bottom: 0;
}

.service_search > .container > .row,
.provider_search > .container > .row,
.media_search > .container > .row {
	border: 1px solid #808080;
	border-radius: 10px;
	background-color: #fff;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-top: .5rem;
	margin-bottom: .5rem;
}
.service_search .table>:not(caption)>*>*,
.provider_search .table>:not(caption)>*>*,
.media_search .table>:not(caption)>*>* {
	padding: 0;
}
.service_search .table,
.provider_search .table,
.media_search .table {
	border-spacing: 0;
}
.service_search .table td,
.provider_search .table td,
.media_search .table td {
	border-top: unset!important;
	border-bottom: none;
}
.service_search .table td span,
.provider_search .table td span,
.media_search .table td span {
	color: #008b8b;
	font-weight: 600;
}
.service_search .table td p,
.provider_search .table td p,
.media_search .table td p {
	margin-bottom: 0;
}
.service_search .page-link,
.provider_search .page-link,
.media_search .page-link {
	background-color: transparent;
}
