.section-member-browsing-history {
	background-color: #f2f9f9;
	padding-top: 20px;
	padding-bottom: 20px;
}
.section-member-browsing-history .table thead th {
	color: #008b8b;
}
.section-member-browsing-history table {
	border-spacing: 0;
}
.section-member-browsing-history .table tbody td {
	border-color: #fff;
}
.section-member-browsing-history .table-striped > tbody > tr:nth-of-type(odd) > * {
	background-color: #bde6de;
}
.section-member-browsing-history .table-striped > tbody > tr:nth-of-type(even) > * {
	background-color: #f2f9f9;
}
