.breadcrumb_service_detail .breadcrumb, .section-member .breadcrumb {
	/*display: flex!important;*/
	padding: 0!important;
}
.breadcrumb_service_detail .breadcrumb-item, .section-member .breadcrumb-item {
	display: inline-block;
}
.section-member input, .section-member select, .section-provider input, .section-provider select, .section-member-register input, .section-member-register select, .checkbox-outline {
	border-radius: 25px!important;
}
.section-provider textarea {
	border-radius: 10px!important;
}
.section-member, .section-provider {
	background-color: #f2f9f9;
	padding-top: 20px;
	padding-bottom: 20px;
}
.section-member-register label, .section-member label, .section-provider label {
	margin-left: .9rem;
	color: #008b8b;
}
.btn-login {
	width: 100% !important;
}
.btn-register, .btn-login, .btn-cancel {
	border-radius: 25px;
	color: white;
	margin-top: 3rem;
}
.btn-register, .btn-cancel, .btn-save {
	padding-left: 4rem;
	padding-right: 4rem;
}
.btn-register, .btn-login {
	background-color: #008b8b;
}
.btn-cancel {
	background-color: #808080;
}
.btn-register:hover, .btn-login:hover {
	color: white;
}
.member-dashboard-tabs ul li {
	padding: 10px 20px;
	text-align: center;
}
.member-dashboard-tabs ul.nav-tabs li {
	width: 150px;
	padding: 10px 20px;
	text-align: center;
}
.member-dashboard-tabs ul .nav-link {
	border-color: transparent;
	color: #808080;
	&.active, &:hover {
		border-top-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		border-bottom: 4px solid #008b8b;
	}
}
.checkbox-outline {
	border: 1px solid #ced4da;
	padding-top: .35rem;
	padding-bottom: .35rem;
}
.box-with-shadow {
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #fff;
}
.member-sidebar h4, .provider-sidebar h4 {
	color: #008b8b;
}
.member-sidebar a, .provider-sidebar a {
	color: #808080;
	text-decoration: none;
}
.member-sidebar a.active, .member-sidebar a:hover, .provider-sidebar a.active, .provider-sidebar a:hover {
	color: #008b8b;
}
.member-sidebar .menu-item, .provider-sidebar .menu-item {
	border-top: 1px solid #ccc;
	/*border-bottom: 1px solid #808080;*/
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 1.25rem;
}
.btn-save, .btn-submit, .btn-upgrade {
	border-radius: 25px;
	color: white;
	background-color: #008b8b;
}

.need-share-button-default {
	.need-share-button_button {
		padding: 0;
		border: none;
		background-color: transparent;
		border-radius: unset;
		color: #008b8b;
	}
}