@import 'courtage';
//======= Navigation =======
.navigation-section {
    .brand-name {
        font-family: "Noto Sans HK Bold";
        color: $main-color;
        font-size: 1.5rem;
    }
    .navbar-nav {
        .nav-item {
            padding-right: 0;
            padding-left: .75rem;
            a {
                &.active {
                    color: #fff!important;
                }
				&.active:not(#member_login) {
				  color: $main-color!important;
				}
                &:hover {
                    color: $main-color;
                }
            }
            &.dropdown {
                line-height: 40px;
                a {
                    color: rgba(0, 0, 0, .5);
                    &:hover {
                        color: $main-color;
                        text-decoration: none;
                    }
                }
                .dropdown-menu {
                    min-width: 15rem;
                    border: none;
                    li {
                        background-color: white;
                        padding-left: 0;
                        a {
                            padding-left: .75rem;
                            display: inline-block;
                            width: 100%;
                            &:hover {
                                background-color: $main-color;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}

#navbar {
    background-color: #e6e6e6;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 16;
    width: 100%;
    .dropdown-menu {
        background-color: #e6e6e6;
        padding-left: 15px;
    }
}

//#search-menu {
//  position: fixed;
//  width: 100%;
//  height: 10em;
//  top: -20em;
//  left: 0;
//  right: 0;
//  white-space: nowrap;
//  z-index: 9999;
//  background: $main-color;
//  //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(50%, rgba(0, 0, 0, 0.8)), color-stop(100%, rgba(0, 0, 0, 0.01)));
//  //background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.01) 100%);
//  //background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.01) 100%);
//  //background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.01) 100%);
//  //background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.01) 100%);
//  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cc000000", endColorstr="#1a000000",GradientType=0);
//  opacity: 0.3;
//  visibility: hidden;
//  -webkit-transition: 500ms ease all;
//  -moz-transition: 500ms ease all;
//  transition: 500ms ease all;
//  &.toggled {
//	top: 0;
//	opacity: 1;
//	visibility: visible;
//  }
//  .wrapper {
//	position: relative;
//	margin: 3em auto 0 auto;
//	padding: 0 1em;
//	input {
//	  width: 95%;
//	  padding: 0 0 0.125em 0;
//	  background: transparent;
//	  border: none;
//	  border-bottom: 3px solid #fff;
//	  font-size: 1em;
//	  color: #fff;
//	  &:focus {
//		outline: none;
//	  }
//	  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
//		color: #fff;
//		opacity: 1; /* Firefox */
//	  }
//
//	  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
//		color: #fff;
//	  }
//
//	  &::-ms-input-placeholder { /* Microsoft Edge */
//		color: #fff;
//	  }
//	}
//	button {
//	  position: absolute;
//	  display: block;
//	  width: 10%;
//	  right: 0;
//	  top: 0;
//	  background: transparent;
//	  border: none;
//	  color: #fff;
//	  font-size: 1em;
//	  -webkit-transition: 500ms ease all;
//	  -moz-transition: 500ms ease all;
//	  transition: 500ms ease all;
//	  &:hover {
//		color: #fff;
//	  }
//	  &:focus {
//		outline: none;
//	  }
//	}
//  }
//}
.search {
  position: relative;
  /*box-shadow: 0 0 40px rgba(51, 51, 51, .1);*/
  width: 50%;
  margin-bottom: 10px;
  input {
	/*height: 60px;*/
	text-indent: 25px;
	border: 1px solid #d6d4d4;
	&:focus {
	  box-shadow: none;
	  border: 1px solid #d6d4d4;
	}
  }
  .fa-search {
	position: absolute;
	top: 12px;
	left: 16px;
	color: #008b8b;
  }
  .form-control {
	border-radius: 25px!important;
	background-color: transparent;
  }
}

@media screen and (max-width: 576px) {
    .navigation-section {
        .brand-name {
            font-size: 1rem;
        }
    }
}
