#messageDialogModal {
    .modal-footer {
      justify-content: center;
      .hyperlink_button {
        font-size: 1.2rem;
        padding: .5rem 1.5rem;
        border-radius: 500px;
        font-weight: bold;
        &:hover {
          color: white;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
}
  