.section-provider-service-management {
	background-color: #f2f9f9;
	padding-top: 20px;
	padding-bottom: 20px;
}
.section-provider-service-management .table thead th {
	color: #008b8b;
}
.section-provider-service-management table {
	border-spacing: 0;
}
.section-provider-service-management .table tbody td {
	border-color: #fff;
}
.section-provider-service-management .table-striped > tbody > tr:nth-of-type(odd) > * {
	background-color: #bde6de;
}
.section-provider-service-management .table-striped > tbody > tr:nth-of-type(even) > * {
	background-color: #f2f9f9;
}
.section-provider-service-management {
	.service-list {
		.table-header {
			th {
				color: #008b8b;
			}
		}
		.btn-edit, .btn-delete {
			border-radius: 25px;
			color: white;
			padding-left: 10px;
			padding-right: 10px;
		}
		.btn-edit {
			background-color: #59C2AC;
		}
		.btn-delete {
			background-color: #ccc;
		}
	}
}
