.section-provider-add-media {
	background-color: #f2f9f9;
	padding-top: 20px;
	padding-bottom: 20px;
}
.section-provider-add-media label {
	margin-left: .9rem;
	color: #008b8b;
}
.section-provider-add-media .btn-add-picture {
	border-radius: 25px;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
}
.section-provider-add-media .btn-add-picture {
	background-color: #59C2AC;
}
.section-provider-add-media input, .section-provider-add-media select {
	border-radius: 25px!important;
}
.section-provider-add-media textarea {
	border-radius: 10px!important;
}
.section-provider-add-media .btn-add-new, .section-provider-add-media .btn-cancel {
	border-radius: 25px;
	color: white;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 0;
}
.section-provider-add-media .btn-add-new {
	background-color: #59C2AC;
}
.section-provider-add-media .btn-cancel {
	background-color: #ccc;
}
.section-provider-add-media .news-block, .section-provider-add-media .video-block {
	display: none;
}
#progress-container {
	-webkit-box-shadow: none;
	box-shadow: inset none;
	display:none;
}

#photo_drop_zone, #video_drop_zone {
	border: 2px dashed #bbb;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding-top: 60px;
	text-align: center;
	font: bold 13px 'Helvetica';
	color: #bbb;
	height: 140px;
	width: 140px;
}

.input-group {
    display: block;
}