.section-provider-media-management {
	background-color: #f2f9f9;
	padding-top: 20px;
	padding-bottom: 20px;
}
.section-provider-media-management .table thead th {
	color: #008b8b;
}
.section-provider-media-management table {
	border-spacing: 0;
}
.section-provider-media-management .table tbody td {
	border-color: #fff;
}
.section-provider-media-management .table-striped > tbody > tr:nth-of-type(odd) > * {
	background-color: #bde6de;
}
.section-provider-media-management .table-striped > tbody > tr:nth-of-type(even) > * {
	background-color: #f2f9f9;
}
.section-provider-media-management .table-header th {
	color: #008b8b;
}
.section-provider-media-management .btn-edit, .section-provider-media-management .btn-delete {
	border-radius: 25px;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
}
.section-provider-media-management .btn-edit {
	background-color: #59C2AC;
}
.section-provider-media-management .btn-delete {
	background-color: #ccc;
}
