.btn-uonlive {
	color: #fff;
	background-color: #008b8b;
	border-color: #008b8b;
	border-radius: 25px;
}
.btn-uonlive-light {
	color: #008b8b;
	background-color: #bde6de;
	border-color: #bde6de;
	border-radius: 25px;
}
