@charset "UTF-8";
.title-color {
  font-weight: 600;
  color: #008b8b;
  span {
	color: #808080;
  }
}

a {
  text-decoration: none;
}

.hover:hover {
  cursor: pointer;
}

#navbar_container {
  display: block !important;
}

.section-category .h-over:hover {
  cursor: pointer;
  background-color: #def3ee;
}

.member-login.nav-item {
  background-color: #008b8b;
  border-radius: 25px;
  a {
	color: #fff !important;
	padding-left: 2rem !important;
	padding-right: 2rem !important;
  }
}

.member-loggedin.nav-item {
  background-color: #bde6de;
  border-radius: 25px;
  a {
	color: #008b8b !important;
	padding-left: 2rem !important;
	padding-right: 2rem !important;
  }
}

.header_logo_wrapper {
  max-width: 60%;
}

.flex_end {
  display: flex;
  align-items: flex-end;
}

.collapse.navbar-collapse ul li {
  padding: 0px !important;
}

.navigation-section {
  padding: 15px 0px;
}

.top-line {
  height: 5px;
  background: linear-gradient(to right, #fff 0%, #fff 35%, #8CC7ED 34%, #8CC7ED 100%);
  background-size: cover;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.service-box {
  box-shadow: 2px 3px 9px 5px rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: 2px 3px 9px 5px rgba(0, 0, 0, 0.28);
  border-radius: 10px;
  -webkit-border-radius: 10px;
}

.latest-services .card .card-header,
.latest-services .card .card-footer,
.hot-services .card .card-header,
.hot-services .card .card-footer,
.section-member .card .card-header,
.section-member .card .card-footer {
  background-color: #fff;
}

.latest-services .card .card-header,
.hot-services .card .card-header,
.section-member .card .card-header {
  padding: 0;
  border-bottom: none;
}

.latest-services .card .card-header:first-child,
.latest-services .card .card-header img,
.hot-services .card .card-header:first-child,
.hot-services .card .card-header img,
.section-member .card .card-header:first-child,
.section-member .card .card-header img {
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
}

.latest-services .card .card-body p,
.hot-services .card .card-body p,
.section-member .card .card-body p {
  margin-bottom: 0;
}

.latest-services .card .card-body .tag-list,
.hot-services .card .card-body .tag-list,
.section-member .card .card-body .tag-list {
  color: #fff;
}

.latest-services .card .card-body .tag-list span,
.hot-services .card .card-body .tag-list span,
.section-member .card .card-body .tag-list span {
  padding: 2px 5px;
  font-size: 0.8rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  font-weight: 300;
}

.latest-services .card .card-footer,
.hot-services .card .card-footer,
.section-member .card .card-footer {
  border-top: none;
}

.latest-services .card .card-footer:last-child,
.hot-services .card .card-footer:last-child,
.section-member .card .card-footer:last-child {
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
}

.show_more_btn {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.show_more_btn a {
  text-decoration: none;
}

.title_gray {
  color: #969696;
}

.deep_blue_title {
  color: #4974B9;
}

.show_more_btn {
  color: #008b8b;
  font-size: 0.8rem;
}

.tutor_head>div {
  display: inline-block;
}

.tutor_head .gender {
  width: 50px;
  vertical-align: top;
  padding-right: 10px;
}

.tutor_head .short_desc {
  width: calc(100% - 50px - 10px);
  color: #4974b9;
}

.blue_line {
  border: 1px solid #8CC7ED;
}

.tutor_grid {
  background: #fff;
  padding: 15px 15px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 3px 9px 5px rgba(0, 0, 0, 0.28);
  box-shadow: 2px 3px 9px 5px rgba(0, 0, 0, 0.28);
}

.homepage_table {
  font-size: 0.8rem;
}

.homepage_table td {
  padding-right: 10px;
  vertical-align: top;
}

.section_content .tutor_grid {
  height: 380px;
}

.color_blue {
  color: #4974b9;
}

.font_bold {
  font-weight: bold;
}

.tutor_detail .date {
  font-size: 0.7rem;
  text-align: right;
}

.v-top {
  vertical-align: top;
}

.case_list>div:first-child {
  display: inline-block;
  vertical-align: top;
  padding: 0px 30px;
  width: 300px;
}

.case_list>div {
  display: inline-block;
  vertical-align: top;
  padding: 0px 30px;
  width: calc(100% / 7);
}

.right_section {
  margin-top: 5px;
}

.center_section>div {
  display: inline-block;
  padding: 10px 20px;
}

.tutor_desc {
  font-size: 0.8rem;
  position: relative;
  min-height: 110px;
  height: 110px;
  padding-bottom: 10px;
}

.small_font_size {
  font-size: 0.9rem;
}

.font_big_size {
  font-size: 1.2rem;
}

.dis_inlineblock {
  display: inline-block;
}

.case_section_row {
  -webkit-box-shadow: 2px 3px 9px 5px rgba(0, 0, 0, 0.28);
  box-shadow: 2px 3px 9px 5px rgba(0, 0, 0, 0.28);
  border-radius: 10px;
}

.case_section_top {
  padding: 20px 20px;
}

.case_section_bottom {
  background: #F4F9FD;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.case_detail_table td {
  vertical-align: top;
}

.detail_hidden {
  display: none;
}

.footer_logo_wrapper {
  max-width: 180px;
}

.footer_border_white {
  border-right: 1px solid #fff;
}

.footer_section_wrapper {
  margin-left: auto;
  margin-right: auto;
}

.table_cent {
  margin-left: auto;
  margin-right: auto;
}

.footer_icon_wrapper {
  max-width: 40px;
}

.footer_logo_wrapper {
  margin-top: 10px;
}

.pages_wrapper {
  text-align: center;
}
/* .pages_wrapper>div {
display: inline-block;
text-align: center;
padding: 10px;
} */

.pages_wrapper li {
  display: inline-block;
  text-align: center;
  padding: 10px;
}

.pages_wrapper>div a {
  color: #969696;
}

.pages_wrapper>div a:hover {
  color: #4974B9;
}

.search_btn_wrapper>input {
  border: 1px solid #4974B9;
}

.filter_area .right_section {
  margin-bottom: 20px;
  text-align: right;
}

.filter_area .right_section>div {
  display: inline-block;
}

.flex-end {
  align-items: flex-end;
}

.text_right {
  text-align: right;
}

.filter_area .left_section>div {
  display: inline-block;
  background: #4974B9;
  color: #fff;
  text-align: center;
  cursor: pointer;
  /* border-right: 1px solid #fff; */
  padding: 10px 12px;
}

.filter_select_area>div {
  display: inline-block;
}

.filter_select_area {
  background: #D1DCEE;
}

ul.init_ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  padding: 20px;
}

.filter_select_area ul>li {
  display: inline-block;
  width: calc(100% / 7 - 10px);
  vertical-align: top;
  padding: 0px;
}

.filter_select_area ul>li div.area_name {
  margin-left: 18px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #4974B9;
}

.filter_select_area .filter_section_1,
.filter_section_2,
.filter_section_3,
.filter_section_4,
.filter_section_5 {
  width: 100%;
}

.left_section>div.active {
  background: #D1DCEE;
  color: #4974B9;
}

.arrow_up_wrapper {
  text-align: center;
  width: 100%;
}

.arrow_up {
  width: 25px;
  margin: 0 auto;
  padding-bottom: 10px;
  cursor: pointer;
}

.recommend_table th {
  background: #92ACD5;
  color: #fff;
}

.recommend_table th,
.recommend_table td {
  /* border: 1px solid #92ACD5; */
  border-collapse: collapse;
}

.recommend_table td {
  border: 1px solid #92ACD5;
}

.recommend_table th {
  border: 1px solid #fff;
}

.recommend_table table tr:nth-child(even) {
  background: #E8F4FB;
}

.recommend_table table {
  border-collapse: collapse;
  border-spacing: 0px 0px;
}

.popup_section .short_desc {
  vertical-align: bottom;
  width: calc(100% - 60px - 10px);
}

.popup_section .short_desc .title {
  font-size: 1.25rem;
}

.popup_section .gender {
  width: 60px;
}

.color_gray {
  color: #969696;
}
/* .popup_content_section .content_grid {
width: calc( 100% / 3 - 20px);
}
*/

.popup_section .content_grid .section div:first-child {
  vertical-align: top;
  width: 4rem;
  display: inline-block;
  margin-right: 10px;
}

.popup_section .content_grid .section div:last-child {
  vertical-align: top;
  width: calc(100% - 4rem - 20px);
  display: inline-block;
}

.popup_section .tutor_desc {
  font-size: 1rem;
}

.popup_section .tutor_grid {
  padding: 35px;
}

.popup_section {
  max-width: 80%;
  margin: 0 auto;
  width: 80%;
}

.form_btn {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form_btn div {
  background: #4974B9;
  display: inline-block;
  color: #fff;
  padding: 10px 25px;
  border-radius: 10px;
  margin: 0 auto;
}

.form_btn button {
  background: #4974B9;
  display: inline-block;
  color: #fff;
  padding: 10px 25px;
  border-radius: 10px;
  margin: 0 auto;
  border: none;
}

.popup_section .tutor_number {
  width: 180px;
  vertical-align: top;
  background: #D1DCEE;
  text-align: center;
  border-radius: 15px;
  padding: 5px 0px;
}

.popup_section .tutor_number>div {
  display: inline-block;
}

.popup_section .short_desc {
  width: calc(100% - 60px - 180px - 10px);
}

.fancybox-content {
  border-radius: 20px !important;
}

.tutor_grid {
  cursor: pointer;
}

.popup_section {
  max-width: 80% !important;
}

.tutor_grid.tutor_grid_popup {
  box-shadow: none;
}

.search_list,
.search_grid {
  cursor: pointer;
}

.search_tutor_section input,
.search_tutor_section select {
  border: 1px solid #8CC7ED;
}

.contact_us_section input,
.contact_us_section select,
.contact_us_section textarea {
  border: 1px solid #8CC7ED;
}

.register_tutor_section input,
.register_tutor_section textarea,
.register_tutor_section select {
  border: 1px solid #8CC7ED;
}

.search_tutor_section .col-12.col-lg-6 {
  /* margin-bottom: 20px; */
}

.search_tutor_section .form_title.first>div {
  display: inline-block;
}

.register_tutor_section .form_title.first>div {
  display: inline-block;
}

.contact_us_section .form_title.first>div {
  display: inline-block;
}

.float_right {
  float: right;
}

.form_section {
  margin-bottom: 30px;
}

.checkbox_section .title {
  background: #D1E9F8;
  padding: 10px 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.checkbox_section .title>div {
  display: inline-block;
}

.checkbox_section .title>div:first-child {
  text-align: left;
  width: calc(100% - 40px - 10px);
}

.checkbox_section .title>div:last-child {
  text-align: right;
  width: 40px;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.checkbox_section .content {
  background: #F4F9FD;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px;
}

.checkbox_section .last_row .col-12.col-lg-12>div:first-child {
  width: 120px;
}

.checkbox_section .last_row .col-12.col-lg-12>div:last-child {
  width: calc(50% - 120px - 20px);
}

.register_tutor_section .form_wrapper {
  position: unset;
  transform: initial;
}

.register_tutor_section .booking_step_header {
  background: #eee;
  padding: 0px;
}

.register_tutor_section .step_no {
  background: #999;
}

.register_tutor_section .step_desc {
  font-weight: bold;
  color: #999;
}

.register_tutor_section .step_no.active {
  background: #4974B9;
}

.register_tutor_section .step_desc.active {
  color: #4974B9;
}

.register_tutor_section .booking_step_header .col-6.col-lg-3 {
  padding: 15px 0px;
  /* border-right: 1px solid #fff; */
  border: 1px solid #fff;
}

.register_tutor_section .booking_step_header .col-6.col-lg-3.active {
  background: #D1E9F8;
  color: #4974B9;
}

.register_tutor_section .booking_next_btn,
.booking_prev_btn {
  cursor: pointer;
}

.register_tutor_checkbox_group {
  width: 100%;
  text-align: left;
}

.register_tutor_checkbox_group>div {
  width: calc(100% / 5 - 10px);
  display: inline-block;
}

.register_tutor_checkbox_area .area_section_left {
  width: 100px;
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
}

.register_tutor_checkbox_area .area_section_right {
  width: calc(100% - 100px - 10px);
  display: inline-block;
}

.register_tutor_checkbox_area .area_section_right>div {
  width: calc(100% / 4 - 10px);
  display: inline-block;
  margin-bottom: 5px;
}

.register_tutor_checkbox_area .area_section {
  margin-bottom: 10px;
}

.register_tutor_checkbox_area .area_section_right>div {
  vertical-align: top;
}

.error_msg {
  color: red;
  font-size: 10px;
  margin-top: 5px;
  opacity: 0;
  margin-bottom: 5px;
}

.form-control.error {
  border: 1px solid red;
}

#search_tutor_form div.error {
  border: 1px solid red;
  padding: 5px;
}

#search_tutor_form label {
  margin-bottom: 0rem !important;
}

.terms .terms_checkbox>input {
  width: 30px;
  vertical-align: top;
}

.terms .terms_checkbox>label {
  width: calc(100% - 30px - 10px);
  vertical-align: top;
  margin-top: -5px;
}

.terms .correct {
  /* background: blue; */
}

label {
  cursor: pointer;
}

.area_section label {
  width: calc(100% - 20px - 10px);
  vertical-align: top;
}

.tutor_head {
  margin-bottom: 10px;
  height: 50px;
  min-height: 50px;
}

.homepage_table td:first-child {
  width: 20px;
}

.homepage_table td:nth-child(2) {
  vertical-align: top;
  width: 65px;
}

.table thead th {
  border-bottom: unset !important;
  vertical-align: top;
}

.pages_wrapper>div {
  display: inline-block;
  padding: 0px 10px;
}
/*pageination*/

.arrow-right:before {
  content: "下一頁";
}

.arrow-left:before {
  content: "上一頁";
}

.pages_wrapper ul {
  margin: 0px;
  padding: 0px;
}

.pages_wrapper a {
  color: #725e56 !important;
}

.pages_wrapper .pageNum.active a {
  font-weight: bold;
  color: #4974b9 !important;
}

.pages_wrapper .arrow-right,
.pages_wrapper .arrow-left {
  font-style: normal;
}

.tutor_grid .homepage_table {
  min-height: 150px;
}

.footer_grid_section {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
/*end*/
/*start mobile*/

@media (max-width: 1200px) {
  .filter_area .left_section>div {
	padding: 10px 10px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .home_aboutus_image {
	margin-top: 30px;
	margin-bottom: 30px;
  }
  .table_cent {
	padding: 0px 15px;
  }
  .footer_logo_wrapper {
	margin-top: 10px;
  }
  .filter_area .left_section>div {
	margin-bottom: 20px;
  }
  .filter_area .right_section {
	text-align: left;
  }
  .filter_area .left_section>div {
	padding: 10px 10px;
  }
  .center_section>div {
	display: inline-block;
	padding: 10px 10px;
  }
}

@media (max-width: 767px) {
  .footer_grid_section {
	border-left: none;
	border-right: none;
  }
  .footer_icons {
	margin-left: -5px !important;
  }
  .case_section_top {
	padding: 20px !important;
  }
  .case_section_bottom {
	padding: 20px !important;
  }
  .home_aboutus_image {
	margin-top: 30px;
	margin-bottom: 30px;
  }
  .case_section_bottom .dis_inlineblock {
	display: block;
  }
  .hidden_xs {
	display: none;
  }
  .center_section {
	clear: both;
  }
  .center_section>div {
	display: inline-block;
	padding: 0px;
	margin-top: 20px;
	margin-right: 3px;
  }
  .case_section_top {
	padding: 10px;
  }
  .case_section_bottom {
	padding: 10px;
  }
  .case_detail_table td>div {
	text-align: center;
  }
  .footer_border_white {
	border: none;
  }
  .footer_row>div {
	width: 100% !important;
  }
  .filter_area .left_section>div {
	margin-bottom: 10px;
  }
  .filter_area .left_section>div>div {
	display: inline-block;
  }
  .xs_vt_middile {
	vertical-align: middle;
  }
  .filter_area .left_section>div {
	padding: 5px 0.5rem;
  }
  .filter_area .right_section {
	text-align: left;
  }
  .search_btn_wrapper>input {
	width: 150px;
  }
  .filter_select_area ul>li {
	width: calc(100% / 2 - 10px);
  }
  .recommend_table table {
	word-break: keep-all;
  }
  .popup_content_section {
	max-width: 100%;
  }
  .col-lg-4.col-6:last-child {
	// background: red;
  }
  .popup_content_section .short_desc {
	width: calc(100% - 60px - 10px);
  }
  .popup_content_section .tutor_number {
	margin-bottom: 20px;
  }
  .popup_content_section .tutor_grid {
	padding: 15px;
  }
  .popup_section {
	max-width: 100%;
	margin: 0 auto;
  }
  .popup_section .tutor_grid {
	padding: 0px;
  }
  .popup_section.fancybox-content {
	max-width: 95% !important;
  }
  .popup_section .short_desc {
	width: calc(100% - 60px - 10px);
  }
  .popup_section .tutor_number {
	margin-bottom: 20px;
  }
  .fancybox-slide--html .fancybox-content {
	margin-top: 30px;
	margin-bottom: 30px !important;
  }
  .tutor_head .short_desc {
	vertical-align: bottom;
  }
  .tutor_head {
	margin-bottom: 10px;
  }
  .checkbox_section .last_row .col-12.col-lg-12>div:first-child {
	width: 120px;
  }
  .checkbox_section .last_row .col-12.col-lg-12>div:last-child {
	width: calc(100% - 120px - 20px);
  }
  .register_tutor_section .form_content {
	padding: 30px 0px !important;
  }
  .xs-mb-3 {
	margin-bottom: 1rem !important;
  }
  .register_tutor_checkbox_group>div {
	width: calc(100% / 3 - 10px);
	display: inline-block;
  }
  .register_tutor_checkbox_area .area_section_right>div {
	width: calc(100% / 2 - 10px);
	display: inline-block;
	margin-bottom: 10px;
  }
  .register_tutor_checkbox_area .area_section {
	text-align: left;
	margin-bottom: 20px;
  }
  .register_tutor_checkbox_area .area_section_right>div {
	vertical-align: top;
  }
  .register_tutor_checkbox_area .area_section_left {
	width: 70px;
  }
  .register_tutor_checkbox_area .area_section_right {
	width: calc(100% - 64px - 11px);
	display: inline-block;
  }
  .xs_pr_30 {
	padding-right: 30px !important;
  }
  .tutor_desc {
	height: auto !important;
  }
  .tutor_head {
	height: auto !important;
  }
  .popup_section {
	max-width: 100%;
	width: 100%;
  }
  .logo {
	width: 180px;
  }
}
/*end mobile*/

.navbar-brand {
  margin-right: 0px;
}

.logo_bar {
  margin-bottom: 1rem;
}

.navigation-section .navbar-nav .nav-item.dropdown {
  line-height: inherit !important;
}

.copyright_container div {
  display: inline-block;
  padding: 0px 1.5rem;
  color: #fff;
  border-right: 1px solid #fff;
  font-size: 0.9rem;
}

.copyright_container div.last_item {
  border-right: none !important;
}

.copy_right {
  font-size: 0.6rem;
  padding: 10px 0px;
}

.copy_right.row {
  border-top: 1px solid #ccc;
}

.copyright_container {
  margin: 15px 0px !important;
  width: 100%;
  text-align: center;
}

.fullWidth {
  width: 100%;
}

.noah_title {
  text-align: center;
  color: #d67445;
}

.nav-link {
  //color: #725e56 !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  font-weight: bold;
}

.content_wrapper {
  padding: 50px 0px;
}

.service_image_wrapper {
  padding: 30px;
}

.section_service {
  background-image: url(/public/images/noah/bg_service.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content_bg {
  background-image: url(/public/images/noah/bg_content.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section_choice {
  text-align: center;
  padding: 70px 0px;
  background-image: url(/public/images/noah/bg_reason.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.color_orange {
  color: #eb9148;
}

.service_sub_title {
  text-align: center;
  margin-top: 1rem;
}

.choice_desc {
  margin-bottom: 50px;
}

.white_border_right {
  border-right: 1px solid #fff;
}

.dis_inline {
  display: inline-block;
}

.dis_inline.vertical {
  vertical-align: top;
}

.business_hours {
  margin-top: 65px;
}

.footer_section_2_wrapper {
  padding-left: 20px;
}

table {
  border-collapse: separate;
  border-spacing: 0 1em;
}

.map_section {
  width: 100%;
  padding-left: 10px;
}

.choice_icons {
  max-width: 180px;
}

.social_media_icon {
  width: 100%;
  padding: 0.8rem;
}

.cent {
  text-align: center;
}

.about_us_left {
  border-right: 1px solid #d67445;
  padding-right: 40px;
}

ul.init {
  margin: 0px;
  padding: 0px;
  padding-left: 20px;
}

ul li {
  padding: 10px 0px;
}

.posrel {
  position: relative;
}

.form_wrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  background: #fff;
  z-index: 999;
  width: 88%;
  max-width: 1160px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-height: 400px;
}

.booking_step_header {
  padding: 15px 0px;
  background-color: #fdf4ed;
}

.step_no {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: #ccc;
  color: #fff;
  line-height: 25px;
  margin-right: 5px;
}

.step_no.active {
  /* background: #fdf4ed; */
  background: #eb9148;
}

.date_picker {
  max-width: 40%;
}

.booking_btn {
  background-color: #faa85f;
  width: 180px;
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.booking_prev_btn {
  display: inline-block;
}

.booking_next_btn {
  display: inline-block;
}

.text_right {
  text-align: right;
}

.booking_success {
  background-color: #fdf4ed;
  padding: 3rem 0px;
}

.booking_btn.center {
  margin: 0 auto;
  display: inline-block;
}

.form_content {
  padding: 30px 60px;
}

.booking_time {
  text-align: center;
  border: 1px solid #fccb9f;
  border-radius: 3px;
  padding: 5px 5px;
  width: 80%;
  color: #fccb9f;
}

.booking_time.active {
  background: #eb9148;
  color: #fff;
}

.time_wrapper .col-4.col-lg-2 {
  margin-bottom: 20px;
  cursor: pointer;
}

.vaccine_row .col-6.col-lg-3 {
  margin-bottom: 10px;
}

.vaccine_row [type=radio] {
  display: inline-block;
  width: 20px;
  vertical-align: top;
  margin-top: 5px;
}

.vaccine_row label.form-check-label {
  display: inline-block;
  width: calc(100% - 25px);
  cursor: pointer;
}

.comfirm_fields_title {
  font-weight: bold;
}

.comfirm_fields_value {
  margin-left: 1rem;
}

.home_about_us {
  position: absolute;
  top: 0px;
  width: 50%;
  right: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 80px;
}

.enquiry_form_line {
  width: 100%;
}

.bg_pink {
  background: #fdf4ed;
}

.home .custom-checkbox .custom-control-input.my-error~.custom-control-label::before {
  border-color: #f7ad7c;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.08), 0 0 0px rgba(255, 0, 0, 0.6);
}

.home .custom-checkbox .custom-control-input.my-error~.custom-control-label::after {
  border-color: #f7ad7c;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.08), 0 0 0px rgba(255, 0, 0, 0.6);
}

.home .custom-control-label::before {
  background: #fff;
  border: 1px solid #f7ad7c;
}

.home .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #f7ad7c;
}

.no-pl {
  padding-left: 0px;
}

.footer_icons {
  margin-left: -10px;
}

.header_icons_row {
  margin-top: 5px;
  max-width: 80%;
}

.header_icons_row a {
  display: block;
  cursor: pointer;
}

.pb100 {
  padding-bottom: 100px;
}

.service_feature_ul {
  margin: 0px;
  padding-top: 10px;
  padding-left: 18px;
  padding-right: 40px;
}

.row.service_area {
  width: 80%;
}

.breadcrumb.has_left_menu {
  padding: 0px !important;
}

.row.left_menu_row {
  padding: 2rem;
}

.left_menu_row .left_items.first {
  padding: 20px 0px;
  background: #f8f8f8;
  font-size: 1.3rem;
  font-weight: normal;
}

.left_menu_row .left_items,
.left_menu_row .item {
  text-align: center;
  padding: 15px 0px;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  background-color: #fdf4ed;
  font-weight: bold;
}

.left_menu_row .collapse_items .item {
  font-weight: normal;
  background: #fff;
}

.left_menu_row .collapse_items .item.active {
  color: #fff;
  background: #eb9148;
}

.down_marker {
  position: absolute;
  right: 15%;
}

.left_menu_row a {
  display: block;
  cursor: pointer;
}

.left_menu_row .col-lg-3.order-lg-1 {
  min-height: 1000px;
}

.video_wrapper {
  margin-top: 3.5rem;
}

.collapse_items a {
  color: #212529;
}

.navigation-section .navbar-nav .nav-item.dropdown .dropdown-menu {
  min-width: 15rem !important;
  border: none;
}

.dropdown-menu.show {
  position: absolute;
  left: -10px;
}

.navigation-section .navbar-nav .nav-item.dropdown .dropdown-menu li {
  padding-left: 0px !important;
  text-align: left !important;
}

.navigation-section .navbar-nav .nav-item.dropdown .dropdown-menu li a {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #725e56;
}

.dropdown-menu {
  padding: 0px !important;
}

.dropdown-menu li {
  padding: 0px 0px !important;
}

.navigation-section .navbar-nav .nav-item.dropdown .dropdown-menu li a:hover {
  background-color: #008b8b !important;
  color: white;
}

.nav-item {
  cursor: pointer;
}

.circle_image_wrapper {
  padding: 25px;
}

.circle_image_row a {
  display: block;
}

.circle_image_row a:hover {
  opacity: 0.8;
  color: #725e56;
}

.vaccine_name a {
  color: #725e56;
}

.vaccine_name {
  color: #725e56;
}

.vaccine_name a:hover {
  color: #725e56;
}

.check_page_pb {
  padding-bottom: 20px;
}

#enquiry_submit_btn {
  border: none;
  color: #fff;
  /* background: #d67445; */
  display: inline-block;
  width: 100%;
  padding: 10px 60px;
  border-radius: 5px;
  cursor: pointer;
}

.thankyou_enquiry {
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social_media .nav li {
  padding: 0px;
}

.nav-link:hover {
  //color: #725e56 !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  font-weight: bold;
}

.nav-link.active {
  //color: #725e56 !important;
}

.navigation-section .navbar-nav .nav-item a.active {
  color: #725e56 !important;
}

.map_section {
  background: #E8F4FB;
}
/* .dropdown-menu.show {
display: none;
} */

.detail_header_title {
  margin: 0 auto;
  max-width: 700px;
  padding: 35px 0px;
  text-align: center;
}
/* .detail_header_title span {
display: inline-block;
border: 1px solid #eb9148;
width: 30px;
vertical-align: top;
} */

.detail_header_title span {
  display: inline-block;
  border: 1px solid #eb9148;
  width: 30px;
  vertical-align: middle;
}

.enquiry_form_container {
  padding-top: 50px;
  padding-bottom: 65px;
}
/*
.detail_image_wrapper {
	max-width: 350px;
}*/

.navigation-section .navbar-nav .nav-item.dropdown {
  padding-left: 15px !important;
}

.coming_soon {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.breadcrumb_current {
  color: #4974B9 !important;
}

.cases_section_wrapper {
  margin-bottom: 40px;
}

.pb_100 {
  padding-bottom: 100px;
}

.rightmenu_items_wrapper {
  position: fixed;
  right: 0px;
  z-index: 2;
  width: 40px;
  margin-top: 20px;
  top: 320px;
}

.rightmenu_items_wrapper .right_menu_item {
  margin-bottom: 10px;
  background: #faa85f;
  font-size: 18px;
  color: #fff;
  text-align: center;
  text-align: center;
  padding: 20px 10px;
  font-weight: bold;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -webkit-box-shadow: 0px 7px 18px -7px #000000;
  box-shadow: 0px 7px 12px -7px #000000;
}

.right_control .control {
  top: 530px !important;
}

.detail_content_row {
  padding: 3rem 0px 3rem 0px;
}

.detail_content_row.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mb-xs-4 {
  margin-bottom: 30px;
}

::marker {
  color: #efa76d !important;
}

.pt60_lg {
  padding-top: 60px;
}

ul.detail_ul {
  padding: 0px;
  padding-left: 20px;
}

.v-middle {
  vertical-align: middle;
}

.enquiry_green_btn {
  color: #fff;
  background: #008000ad;
  display: inline-block;
  padding: 5px 25px;
  border-radius: 5px;
  letter-spacing: 2px;
}

.detail_header_title.line_two {
  max-width: 100%;
}
/* .footer {
margin-top: -25px;
} */

.v_top {
  vertical-align: top;
}

.circle_image {
  border-radius: 50%;
}

.col-12.col-lg-6.no_padding {
  padding-top: 0px !important;
  padding-left: 0px !important;
}
/*tmp mod*/

.navigation-section .navbar-nav .nav-item.dropdown {
  // margin-right: 30px;
}

.detail_main_name {
  display: inline;
  vertical-align: top;
}
/*start cms setting*/

.img-fluid {
  width: 100%;
}

.circle_image_row .image {
  padding: 25px;
}

.detail_page_title {
  display: inline-block;
  text-align: left;
}

.nav-item.detail {
  position: relative;
}

.nav-item.detail::after {
  /* display: inline-block;
width: 0;
height: 0;
margin-left: .255em;
vertical-align: .255em;
content: "";
border-top: .3em solid;
border-right: .3em solid transparent;
border-bottom: 0;
border-left: .3em solid transparent;
position: absolute;
top: 50%;
right: -20px;
transform: translate(0px, -50%);
color: #eb9148; */
}

.footer_block {
  min-height: auto !important;
}
/*end cms setting*/

@media (min-width: 1200px) {
  .navbar-expand-xl .navbar-nav .dropdown-menu {
	position: absolute;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .form_wrapper {
	width: 100%;
	position: unset;
	width: 100%;
	left: 0px;
	transform: inherit;
  }
  .time_wrapper .col-4.col-lg-2 {
	margin-bottom: 10px;
	margin-top: 10px;
  }
  .booking_step_header .col-6.col-lg-3 {
	/* margin-bottom: 20px; */
  }
  .xs_pr_30 {
	padding-right: 30px !important;
  }
  .social_media_icon {
	width: 100%;
	padding: 2.5rem;
  }
  .white_border_right {
	border-right: none;
  }
  .footer_section_2_wrapper {
	padding-left: 0px;
  }
  .about_us_left {
	border-right: none;
	padding-right: 0px;
  }
  .home_about_us {
	position: unset;
	top: 0px;
	width: 100%;
	/* margin-top: 50px; */
	padding: 30px 15px;
  }
  .filter_select_area ul>li {
	display: inline-block;
	width: calc(100% / 2 - 2px);
  }
}

.footer a {
  color: #fff;
}

.footer td {
  color: #fff;
}

a.home_cate_link:hover {
  color: #725e56;
}

.vt_top {
  vertical-align: top;
}

.vt_top.number {
  padding-right: 10px;
}

.enquiry_form_line {
  background: linear-gradient(#fe8464 0%, #cba58f 100%);
  width: 100%;
  height: 1.5px;
  margin-bottom: 30px !important;
  margin-top: 20px;
}

.section_choice.no_bg {
  background-image: none;
  padding: 30px 0px 70px 0px;
}

.bg_orange {
  background: #fe8464 !important;
}

.font_white {
  color: #fff;
}

.prevent_disease_row .col-6>div {
  padding: 8px 0px;
}

.prevent_disease_row .col-6 {
  background: #fff;
}

.prevent_disease_row .col-6:nth-child(even) {
  padding-left: 2px;
  background: #fdf4ed;
}

.prevent_disease_row .col-6:nth-child(odd) {
  padding-right: 2px;
  background: #fdf4ed;
}

.prevent_disease_row .col-6>div {
  background: #fff;
}

.font-justify {
  text-align: justify;
}

.detail_content_row .col-12.col-lg-6 {
  padding: 25px;
  text-align: justify;
}

.detail_header_title {
  max-width: 100%;
}

.bodycheck_form_wrapper {
  max-width: 85%;
  margin: 0 auto;
}

.detail_ul.less_padding li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.detail_ul.decimal {
  list-style: decimal;
}

.row.circle_image_row {
  padding-bottom: 30px;
}

.section_video {
  padding-bottom: 30px;
}

.circle_image_row .desc {
  color: #725e56;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #mobile_menu li {
	border-bottom: none !important;
  }
  .dropdown-toggle span {
	color: #eb9148 !important;
  }
  .nav-item.dropdown {
	text-align: center;
	font-weight: bold;
  }
  #mobile_menu li a {
	padding: 0px 0px !important;
  }
  #mobile_menu li {
	margin: 15px 0px;
  }
  .navbar-toggler.active .toggler-icon:nth-of-type(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 7px;
  }
  .navbar-toggler.active .toggler-icon:nth-of-type(2) {
	opacity: 0;
  }
  .navbar-toggler.active .toggler-icon:nth-of-type(3) {
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	top: -7px;
  }
  .navbar-toggler .toggler-icon {
	width: 30px;
	height: 2px;
	background-color: #fff;
	display: block;
	margin: 5px 0;
	position: relative;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
  }
  .copyright_container div {
	padding: 0px 1.1rem;
  }
  .nav-item.detail::after {
	right: 38%;
  }
  .detail_page_title {
	text-align: center;
  }
}

@media (max-width: 1024px) {
  /* .home_about_us {
position: unset;
top: 0px;
width: 100%;
margin-top: 50px;
padding: 0px 15px;
} */
  .copyright_container div {
	display: inline-block;
	padding: 0px 1.05rem;
	color: #fff;
	border-right: 1px solid #fff;
	font-size: 0.9rem;
  }
}

@media (max-width: 767px) {
  .popup_section .content_grid .section div:first-child {
	width: 80px;
	vertical-align: top;
	display: inline-block;
  }
  .popup_section .content_grid .section div:last-child {
	width: calc(100% - 80px - 20px);
	vertical-align: top;
	display: inline-block;
  }
  .nav-item.detail::after {
	right: 30%;
  }
  .service_image_wrapper {
	padding: 10px;
  }
  .detail_page_title {
	text-align: center;
  }
  .service_detail_row .detail_image_wrapper {
	margin-bottom: 20px;
  }
  .mt-xs-3 {
	margin-top: 30px;
  }
  .copyright_container div {
	width: 100%;
	float: none;
	color: #fff;
	border-right: 1px solid #fff;
	font-size: 1rem;
	padding: 5px 0px;
  }
  .reason_icons .col-6.col-lg-2 {
	margin-bottom: 30px;
  }
  .footer_row {
	padding: 40px 0px;
  }
  .footer_section_2_wrapper {
	padding-left: 0px;
  }
  .xs-mb-3 {
	margin-bottom: 30px;
  }
  .business_hours {
	margin-top: 0px;
  }
  .map_section {
	padding-left: 0px;
  }
  .about_us_left {
	border-right: none;
	padding-right: 0px;
  }
  .white_border_right {
	border: none;
  }
  .form_wrapper {
	width: 100%;
	position: unset;
	width: 100%;
	left: 0px;
	transform: inherit;
  }
  .booking_step_header .col-6.col-lg-3 {
	padding: 5px 0px;
  }
  .date_picker {
	max-width: 100%;
  }
  .form_content {
	padding: 30px 15px;
  }
  .booking_btn {
	width: auto;
  }
  .booking_time {
	width: 90%;
	margin: 0 auto;
  }
  .time_wrapper .col-4.col-lg-2 {
	margin-bottom: 10px;
  }
  /* .booking_step_header .col-6.col-lg-3 {
margin-bottom: 5px;
margin-top: 5px;
} */
  .comfirm_fields_value {
	margin-left: 0;
  }
  .comfirm_fields_title,
  .comfirm_fields_value {
	display: block;
  }
  .section_enquiry_form {
	padding-top: 0px;
  }
  .social_media_icon {
	width: 100%;
	padding: 1rem;
  }
  #mobile_menu li {
	padding: 0px !important;
	border-bottom: 0px !important;
  }
  #mobile_menu {
	width: 70% !important;
	/* width: 60vw; */
	/* height: 100%; */
	height: 80%;
	opacity: 0.9;
	background-color: white !important;
	transition: right 300ms ease-in-out;
	overflow: scroll;
	position: relative;
  }
  .navbar-toggler.active .toggler-icon:nth-of-type(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 7px;
  }
  .navbar-toggler.active .toggler-icon:nth-of-type(2) {
	opacity: 0;
  }
  .navbar-toggler.active .toggler-icon:nth-of-type(3) {
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	top: -7px;
  }
  .navbar-toggler .toggler-icon {
	width: 30px;
	height: 2px;
	background-color: #fff;
	display: block;
	margin: 5px 0;
	position: relative;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
  }
  #mobile_menu li a {
	padding: 18px 0px;
  }
  .service_feature_ul {
	margin: 0px;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 0px;
  }
  .row.service_area {
	width: 100%;
  }
  .row.left_menu_row {
	padding: 0px;
	margin-top: 40px;
  }
  .left_menu_row {
	margin-left: -15px;
	margin-right: -15px;
  }
  .left_menu_row .left_items.first {
	border-top: 1px solid #999;
  }
  .left_menu_row .left_items,
  .left_menu_row .item {
	border-bottom: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
  }
  .breadcrumb {
	margin-left: 10px !important;
  }
  .left_menu_row {
	margin-bottom: 40px;
  }
  .left_menu_row .col-lg-3.order-lg-1 {
	min-height: auto;
  }
  .left_menu_row .col-lg-3.order-lg-1 {
	margin-top: 60px;
  }
  .dropdown-toggle {
	color: #b97032 !important;
	margin-left: 18px !important;
	font-weight: bold !important;
  }
  .nav-item.dropdown {
	color: #b97032 !important;
	text-align: center !important;
  }
  .dropdown-menu.show li a {
	text-align: right !important;
	padding: 10px 0px !important;
	padding-right: 10px !important;
  }
  #navbar .dropdown-menu {
	background-color: #fff !important;
  }
  .dropdown-menu.show {
	position: unset;
  }
  .mobile_menu {
	overflow: hidden;
  }
  .circle_image_wrapper {
	padding: 0px;
  }
  #mobile_menu li a {
	padding: 0px 0px !important;
  }
  .dropdown-toggle span {
	color: #725e56 !important;
  }
  #mobile_menu li {
	margin: 15px 0px;
  }
  .nav-item a {
	display: block;
  }
  .detail_content_row {
	padding: 0px;
  }
  .detail_content_row.second {
	margin-top: 60px;
  }
  .pt30_xs {
	padding-top: 30px;
  }
  .detail_content_row .col-12.col-lg-6 {
	padding-right: 15px;
	padding-left: 15px;
  }
  .bodycheck_form_wrapper {
	max-width: 100%;
  }
  .detail_content_row .col-12.col-lg-6.order-lg-1 {
	/* margin-top: 20px; */
	padding-top: 0;
  }
  .detail_content_row .col-12.col-lg-6.order-lg-2 {
	padding-bottom: 0 !important;
  }
  .detail_content_row.second {
	margin-top: 0;
  }
  .detail_content_row.second .color_orange {
	margin-top: 20px;
  }
  .detail_content_row.second .col-12.col-lg-6.order-lg-1 {
	margin-bottom: 0;
  }
  .detail_content_row.second .col-12.col-lg-6.order-lg-2 {
	padding-top: 0;
  }
  .section_choice {
	text-align: center;
	padding: 70px 0px;
	background-image: url(/public/images/noah/bg_reason_m.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  }
  .section_service {
	background-image: url(/public/images/noah/bg_service_m.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  }
  .content_bg {
	background-image: url(/public/images/noah/bg_content_m.png);
  }
  .detail_image_wrapper.xs_pt {
	padding-top: 20px;
  }
  .home_about_us {
	position: unset;
	top: 0px;
	width: 100%;
	padding: 0px 15px;
  }
  .nav-item.detail::after {
	display: none;
  }
  #mobile_menu li.nav-item.detail a {
	position: relative;
  }
  #mobile_menu li.nav-item.detail .nav-link.center::after {
	/* display: inline-block;
width: 0;
height: 0;
margin-left: .255em;
vertical-align: .255em;
content: "";
border-top: .3em solid;
border-right: .3em solid transparent;
border-bottom: 0;
border-left: .3em solid transparent;
position: absolute;
top: 50%;
transform: translate(5px, -50%);
color: #eb9148;*/
  }
  /*start cms setting*/
  .img-fluid {
	width: 100%;
  }
  .circle_image_row .image {
	padding: 0px;
  }
  /*end cms setting*/
  /* .detail_content_row.second .col-12.col-lg-6.order-lg-1 {
margin-top: 0px !important;
}
.detail_content_row.second .col-12.col-lg-6.order-lg-2 {
padding-bottom: 0px !important;
} */
}

.circle_image_row .image {
  padding: 0px;
}
/*end cms setting*/
/*start new added*/

.breadcrumb_service_detail {
  color: #787878;
  display: block !important;
}

.breadcrumb_service_detail_current {
  color: #008b8b;
}

.section_breadcrumb {
  padding: 5px 0;
}

.gray_bg {
  background-color: #f1f1f1 !important;
}

.green_bg {
  background: #008b8b;
}

.filter_items_wrapper {
  display: flex;
}

.filter_items_wrapper .filter_item {
  display: inline-block;
  color: #fff;
}

.filter_section {
  padding: 0;
}

.filter_address_search_wrapper {
  text-align: right;
}

.filter_address_search_wrapper>div {
  display: inline-block;
  color: #fff;
}

.location_nearby {
  background: #5bc1a6;
  padding: 4px 20px;
  border-radius: 15px;
  margin-right: 10px;
}

.service_detail_title {
  padding-bottom: 10px;
}

.search_section_wrapper {
  position: relative;
}

.search_icon_wrapper {
  position: absolute;
  padding-top: 3px;
  left: 5px;
}

.search_section_wrapper>input {
  padding: 4px 20px 4px 35px;
  border-radius: 20px;
  outline-style: none;
  border: none;
}

.content_section_wrapper .tag {
  color: #fff;
  font-size: 14px;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 0px 5px;
  border-radius: 3px;
  min-width: 40px;
  text-align: center;
  display: inline-block;
}

.content_section_wrapper {
  /* max-width: 80%; */
  margin: 0 auto;
  padding: 30px 0px;
}

.content_section_wrapper .nav-tabs .nav-link {
  border: none !important;
}

.content_tabs_wrapper button.nav-link.active {
  color: #008b8b !important;
}

.content_tabs_wrapper button.nav-link {
  color: #787878 !important;
  width: calc( 90% / 4);
  position: relative;
}

.content_section_wrapper .nav-tabs .nav-link.active::after {
  border-bottom: 4px solid #008b8b;
}

.content_section_wrapper .nav-tabs .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 96%;
  border-bottom: 4px solid #f1f1f1;
  margin: 0px 2px;
}

.nav-tabs {
  border-bottom: none !important;
}

.content_tabs_wrapper {
  padding: 20px 0px;
}

.breadcrumb_service_detail {
  margin-top: 10px;
}

.news_wrapper {
  margin-top: 30px;
}

.news_title_wrapper div {
  display: inline-block;
}

.news_title_wrapper .news_title_tag {
  width: 38px;
  border: 2px solid #008b8b;
  text-align: center;
  color: #008b8b;
  margin-right: 10px;
  font-size: 14px;
}

.news_title_wrapper .news_title {
  width: calc( 100% - 52px);
  color: #008b8b;
}

.news_wrapper .news_content {
  font-size: 14px;
  text-align: justify;
  color: #808080;
}

.news_wrapper .news_author_name {
  text-align: center;
  margin-top: 5px;
}

.news_wrapper .news_author_name {
  font-size: .75rem;
  color: #008b8b;
}

.news_title_wrapper {
  //margin-bottom: 10px;
}

.news_wrapper .news_item {
  margin-bottom: 15px;
}

.font_green_color {
  color: #008b8b;
}

.font_gray_color {
  color: #808080;
}

.carousel_wrapper {
  padding: 10px;
  box-shadow: 1px 5px 16px -4px rgb(0 0 0 / 69%);
  border-radius: 10px;
  position: relative;
}

.carousel_wrapper .owl-dots {
  display: none !important;
}

.carousel_wrapper.left {
  padding-left: 30px;
}

.carousel_wrapper.right {
  padding-right: 30px;
}

.carousel_wrapper .arrow_right {
  position: absolute;
  right: 10px;
  transform: translate(0px, -50%);
  top: 50%;
}

.carousel_wrapper .arrow_left {
  position: absolute;
  left: 10px;
  transform: translate(0px, -50%);
  top: 50%;
}

.small_text {
  font-size: 14px;
}

.show_more>div {
  text-align: center;
}

.show_more {
  display: table;
  width: auto;
  line-height: 32px;
  background-color: #fff;
  white-space: nowrap;
  border-spacing: 10px 0;
}

.show_more:before,
.show_more:after {
  display: table-cell;
  content: '';
  width: 50%;
  background: -webkit-linear-gradient(#eee, #eee) repeat-x left center;
  background: linear-gradient(#eee, #eee) repeat-x left center;
  background-size: 2px 2px;
}

.author_wrapper {
  max-width: 120px;
  margin-left: auto;
  /* margin: 0 auto; */
}

.text-right {
  text-align: right;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.video_item .section_bottom_wrapper {
  padding: 10px;
}

.video_item .section_top_wrapper img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.detail_video_wrapper .video_item {
  box-shadow: 1px 5px 7px -3px rgb(0 0 0 / 69%);
  border-radius: 10px;
}

.latest-services .card .card-body .tag-list span,
.hot-services .card .card-body .tag-list span {
  padding: 2px 5px;
  font-size: 0.8rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  font-weight: 300;
}

.pagination_wrapper .pagination {
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}

.pagination_wrapper .pagination .page-link {
  border: none;
  color: #008b8b;
}

.carousel_wrapper .arrow_left,
.arrow_right {
  cursor: pointer;
}

.content_section_wrapper .tag {
  cursor: pointer;
}

.video_item .title_wrapper {
  height: 40px;
}

.video_item .title_wrapper {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.member-dashboard-tabs {
  .btn-upgrade {
    &.nav-item {
      background-color: #f37c6b;
      border-radius: 25px;
      padding: 0.5rem 1rem;
      margin-top: 3px;
      a {
        color: #fff;
      }
    }
  }
  .nav-item {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
  ul {
    .nav-link {
      &:hover {
        border-bottom: 0!important;
      }
    }
  }
}
/*ipad */
img {
  -webkit-user-drag:none;
  -moz-user-drag:none;
  -o-user-drag:none;
  user-drag:none;
}

.card {
  .card-header {
    img {
      &.same-height {
        width: 100%;
        height: 12vw;
        object-fit: cover;
      }
    }
  }
}

.img-group-same-height {
  width: 100%;
  height: 11vw;
  object-fit: cover;
}

.img-group-same-height-1 {
  width: 100%;
  height: 8vw;
  object-fit: cover;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .filter_address_search_wrapper {
	margin-top: 15px;
  }
  .filter_address_search_wrapper {
	text-align: left;
  }
  .content_tabs_wrapper button.nav-link {
	width: calc( 100% / 5);
  }
  .content_section_wrapper {
	max-width: 100%;
  }
  .filter_section {
	padding: 20px 0px;
  }
  .news_title_wrapper .news_title_tag {
	vertical-align: top;
  }
}

@media(max-width:767px) {
  .filter_address_search_wrapper {
	margin-top: 15px;
  }
  .location_nearby {
	margin-right: 10px;
  }
  .search_section_wrapper>input {
	padding: 4px 0px 4px 35px;
  }
  .filter_address_search_wrapper {
	text-align: center;
  }
  .search_section_wrapper>input {
	max-width: 230px;
  }
  .filter_items_wrapper .filter_item {
	text-align: center;
  }
  .content_tabs_wrapper button.nav-link {
	width: calc( 100% / 5);
  }
  .content_section_wrapper {
	max-width: 100%;
  }
  .breadcrumb_service_detail {
	margin-bottom: 15px;
  }
  .filter_section {
	padding: 20px 0px;
  }
  .news_title_wrapper .news_title_tag {
	vertical-align: top;
  }
  .news_wrapper .news_content {
	font-size: 16px;
  }
  .news_wrapper .news_author_name {
	font-size: 16px;
  }
  .news_wrapper .news_item {
	margin-bottom: 60px;
  }
  .detail_video_wrapper .video_item {
	margin-bottom: 30px;
  }
}
