.footer td {
  color: rgb(33, 37, 41);
  padding-left: 5px;
  padding-right: 5px;
}
.footer td a {
  color: rgb(33, 37, 41);
  text-decoration: none;
}
.footer .nav .nav-item {
  padding: 0;
}
.footer .nav .nav-item .nav-link {
  padding: 0.5rem 1rem !important;
  color: rgb(33, 37, 41) !important;
  font-weight: 400;
}
.footer .searchBar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  border-top-left-radius: 25px;
  -moz-border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  -moz-border-bottom-left-radius: 25px;
}
.footer .searchBar button {
  padding: 0 15px;
  margin-top: 8px;
  margin-right: 16px;
  background: #008b8b;
  color: #fff;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-top-right-radius: 25px;
  -moz-border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  -moz-border-bottom-right-radius: 25px;
}

/*# sourceMappingURL=footer.css.map */
