body {
  /*font-family:"raleway", "Roboto"!important;*/
  font-family: "Noto Sans HK", sans-serif;
  font-size: 1rem !important;
}

/*.logo_background {

    background-image: url('/public/images/bg_header.png');

    background-repeat: no-repeat;

    background-position: center!important;

}*/
.extra_row_padding {
  padding-left: 30px;
  padding-right: 30px;
}

.testing_background {
  background-image: url("/public/images/index_banner.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 800px;
}

.testing_background_2 {
  background-image: url("/public/images/index_image1.png");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 500px;
}

.background_layer {
  display: none;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 10000;
}

.index_background {
  background-image: url("/public/images/bg_index.png");
  background-repeat: no-repeat;
}

.join_course_form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 45vw;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  z-index: 10001;
  background-color: white !important;
}

.join_course_form h5 {
  margin-top: 10px;
}

.join_course_form_content {
  padding: 40px;
}

.btn_close {
  float: right;
  margin: 10px;
  background-color: unset !important;
  color: rgb(196, 118, 52);
  font-size: 1.2em;
}

.header_social_media {
  display: inline;
  position: relative;
  vertical-align: bottom;
  left: calc(100% - 250px);
}

.inner_content {
  padding: 40px;
}

.nav-link {
  /* color: #eb9148!important; */
  padding-left: 0px !important;
  padding-right: 0px !important;
  font-weight: bold;
}

.logo {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.nav-item {
  padding-left: 0px !important;
  padding-right: 0px !important;
  /*margin: 0rem 0.5rem;*/
}

.consultation_icon {
  position: absolute;
  bottom: 0px;
}

a:hover {
  text-decoration: unset !important;
}

.tick_icon {
  width: 38px;
  height: 39px;
  background-image: url("/public/images/financing_loan/tick_icon.png");
}

.transfer_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 159px;
  height: 182px;
  background-image: url("/public/images/financing_loan/desktop_icon_5.png");
}

.contact_us_section {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0px);
}

.table {
  margin-bottom: 0px !important;
}

/* .table th {
    padding: 0em!important;
} */
.title_bar {
  width: 100%;
  padding: 3px 0px;
}

.title_bar * {
  font-weight: bold;
  color: white !important;
}

.table thead th {
  border-bottom: unset !important;
}

.table td,
th {
  border-top: unset !important;
  /* padding: 0.2em; */
  /* word-break: break-word; */
}

.table_words {
  color: rgb(40, 40, 40);
}

::marker {
  background-color: black !important;
  color: rgb(196, 118, 52) !important;
  font-size: 0.5em;
}

a {
  color: #008b8b;
}

.contact_us_text_box {
  border-right: 1px solid rgb(44, 98, 122);
  padding: 40px;
}

.form-control {
  border-radius: 0.25em !important;
}

.vt {
  vertical-align: middle !important;
}

.table_even_row {
  background-color: rgb(253, 242, 210);
}

.contact_us_form {
  padding: 40px;
}

.form_input_field {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  border: unset !important;
}

.selected_filter_bar {
  min-height: 48px;
}

.btn_common_share {
  cursor: pointer;
}

.NO_display {
  margin: 0px !important;
}

.Grey_background {
  padding: 40px 0px;
  background-color: rgb(242, 242, 242);
}

.Image_background {
  background-image: url("/public/images/Image_background.png");
  background-repeat: no-repeat;
  background-size: auto;
}

.ex_Image_background {
  background-image: url("/public/images/Image_background.png");
  background-repeat: no-repeat;
  background-size: auto;
  margin: -20px 0px;
  padding: 20px 0px;
}

.filter_bar {
  padding: 20px 0px;
}

.color_box_bar {
  display: inline-flex;
  list-style: none !important;
  margin-bottom: 0px !important;
  line-height: 2;
  justify-content: center;
}

.color_box {
  color: white !important;
  font-weight: bold !important;
  font-size: 0.5em;
  padding: 3px 5px;
  cursor: pointer;
}

.no_margin {
  margin: 0px !important;
}

.shop_container {
  max-height: 480px;
  margin: 20px 0px;
}

.shop_bottom_bar {
  display: block;
  width: 100%;
  background-color: rgb(44, 98, 122);
  color: white !important;
  font-weight: bold;
  text-align: center;
}

.commerical_query_buttom {
  position: relative;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  display: block;
  max-width: 400px;
  background-color: rgb(35, 180, 113);
  padding: 5px 0px;
  margin: 20px 0px;
  font-size: 1.2em;
  color: white !important;
  font-weight: bold;
  text-align: center;
}

.step_box {
  margin: 20px 0px;
}

.listing_item {
  margin: 5px 10px;
}

.listing_item img {
  max-height: 30px;
  max-width: 30px;
}

.listing_item * {
  margin: 0px 5px;
  vertical-align: middle;
}

.div_vertical_middle {
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
}

.Green_background {
  background-color: rgb(167, 255, 200);
}

.Blue_background {
  padding: 40px 0px;
  background-color: rgb(228, 247, 253);
}

.blue_word {
  color: rgb(38, 96, 120) !important;
  font-size: 1em;
  /*font-weight: bold;*/
}

.pink_word {
  color: rgb(193, 79, 105);
  font-size: 1em;
  /* font-weight: bold;*/
}

.bold {
  font-weight: bold;
}

.Orange_background {
  padding: 40px 0px;
  background-color: rgb(254, 239, 216);
}

.Fading_pink_background {
  background-color: rgb(247, 232, 235);
}

.Pink_background {
  background-color: rgb(240, 209, 215);
}

.breadcrumb {
  background-color: unset !important;
  padding: 2rem 0px !important;
  color: rgb(120, 120, 120);
  display: block !important;
}

.breadcrumb_noncurrent {
  color: rgb(120, 120, 120);
}

.breadcrumb_noncurrent:hover {
  color: rgb(196, 118, 52);
}

.breadcrumb_current {
  color: rgb(196, 118, 52);
}

.green_hr {
  border: 0.01em solid rgb(35, 180, 113);
}

.footer {
  background-color: #f1f1f1 !important;
}

.footer h6 {
  color: rgb(196, 118, 52);
  font-weight: bold;
}

.footer i {
  color: #008b8b;
  font-size: 1rem;
  text-align: center;
}

.white_container {
  background-color: white;
  margin: 0px 15px;
  padding: 20px;
}

.align_white_container {
  background-color: white !important;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 40px;
}

.No_side_padding_white_container {
  background-color: white !important;
  position: relative;
  padding: 40px 0px;
}

.blue_list_word {
  font-weight: unset !important;
  font-size: 1.2em !important;
}

.form-inline.push_up {
  position: relative;
  align-items: baseline !important;
}

.push_up {
  position: relative;
  vertical-align: top !important;
}

.div_padding {
  padding: 20px 0px;
}

.bottom_table_list {
  position: absolute;
  bottom: 40px;
}

.bottom_table_list tbody tr td {
  padding: 5px 5px;
  line-height: 2;
}

.box_container {
  margin: 20px 0px;
}

.Dark_blue_background {
  background-color: rgb(38, 96, 120);
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

.Dark_green_background {
  background-color: rgb(33, 183, 119);
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

.Dark_pink_background {
  background-color: rgb(206, 102, 127);
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

.img_description {
  color: rgb(4, 74, 99);
  text-align: center;
  margin: 0px !important;
  font-weight: bold;
}

.img_description p {
  margin-bottom: 0px;
}

.text_content {
  margin-bottom: 0px !important;
  line-height: 2;
  font-size: 1.2em;
}

.forward_icon {
  position: absolute;
  top: calc(10% + 20px);
  right: -10%;
}

.white_container_content {
  margin: 40px 0px;
  position: relative;
  min-height: 400px;
}

.white_container_content * {
  margin: 10px 0;
}

.white_container_wide_content {
  margin: 40px 0px 0px 0px;
  position: relative;
  min-height: 250px;
}

.white_container_wide_content * {
  margin: 10px 0;
}

.furthermore_container {
  width: 100%;
  /*position: absolute; */
  bottom: 0px;
  text-align: center;
}

.furthermore {
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(52, 171, 117);
  border-bottom: 2px solid rgb(52, 171, 117);
}

.furthermore:hover {
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(52, 171, 117);
  border-bottom: 2px solid rgb(52, 171, 117);
  text-decoration: unset !important;
}

.blue_header {
  color: rgb(4, 74, 99);
  font-weight: bold;
}

.dark_grey {
  color: rgb(40, 40, 40);
}

.dark_grey_header {
  color: rgb(40, 40, 40);
  font-weight: bold;
}

.detail_left {
  border-right: 1px solid rgb(4, 74, 99);
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.left_no_padding {
  padding-left: 0px !important;
}

.bottom_no_padding {
  padding-bottom: 0px !important;
}

.detail_right_box {
  border-bottom: 1px solid rgb(4, 74, 99);
  padding: 20px 0px;
}

.last {
  border: unset !important;
}

.blue_box {
  background-color: rgb(4, 74, 99);
  color: white !important;
  padding: 3px 0px;
}

.blue_box * {
  margin: 0px !important;
}

.green_box {
  background-color: rgb(33, 183, 119);
  color: white !important;
  padding: 3px 0px;
}

.green_box * {
  margin: 0px !important;
}

.blue_box h4 {
  font-weight: bold;
}

.green_box h4 {
  font-weight: bold;
}

.green_header {
  color: rgb(33, 183, 119);
  font-weight: bold;
}

.pink_header {
  color: rgb(193, 79, 105);
  font-weight: bold;
}

.NO_background {
  padding: 40px 0px;
}

.footer_hr {
  margin: 0px !important;
  border: 0.001em solid #fff !important;
}

.footer_menu_container {
  margin: 10px 0px;
  width: 100%;
  text-align: center;
}

.footer_item {
  padding: 0px 20px;
  color: white !important;
  font-size: 0.8em;
}

.footer_item_border {
  border-right: 0.01em solid white;
}

.copyright {
  font-size: 0.8em;
  color: rgb(196, 118, 52);
}

.copyright_container {
  margin: 10px 0px;
  width: 100%;
  text-align: center;
}

.detail_header {
  border-bottom: 1px solid rgb(38, 96, 120);
}

.dropdown:hover .dropdown_menu {
  display: block;
}

.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  min-width: 5em !important;
  border: none !important;
}

.dropdown-menu li a {
  color: rgb(44, 98, 122);
  text-decoration: unset !important;
  font-weight: bold;
}

.dropdown-menu li a:hover {
  color: rgb(35, 180, 113);
  text-decoration: unset !important;
  font-weight: bold;
}

.box_title {
  padding: 0rem 0.75rem;
}

.mobile_footer_hyperlink {
  display: none;
}

.Mobile_banner {
  display: none;
}

.hyperlink_image:hover img {
  opacity: 0.5;
  border-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 255, 0, 0.1));
}

.detail_query_button {
  position: fixed;
  left: calc(100% - 30px);
  border-radius: 5px;
  padding: 15px 10px 15px 5px;
  top: 30%;
  width: 40px;
  line-height: 1;
  text-decoration: none !important;
}

.detail_query_button:hover {
  color: white !important;
  text-decoration: none !important;
}

.chatbot {
  position: fixed;
  left: calc(100% - 50px - 10px);
  bottom: 1%;
}

.chatbot img {
  max-width: 50px;
  max-height: 50px;
}

.mobile_img {
  display: none;
}

.background_1 {
  background-image: url(../../../images/background_1.png);
  background-repeat: no-repeat;
}

.background_2 {
  background-image: url(../../../images/background_2.png), url(../../../images/background_1.png), url(../../../images/background_2.png), url(../../../images/background_1.png);
  background-position: 0% 0%, 0% 800px, 0% 1600px, 0% 2400px;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  /* padding: 40px 0px; */
}

.description_box {
  margin: 40px 0px;
}

.description_box p {
  font-size: 1em;
  margin: 20px 0px;
  line-height: 1.5;
}

.mini_description_box p {
  font-size: 1em;
  margin: 20px 0px;
}

.home_padding {
  height: 121px;
}

.main_color_header {
  color: rgb(196, 118, 52);
  font-weight: bold;
}

.main_color {
  color: rgb(196, 118, 52);
}

.main_color_fa {
  color: rgb(196, 118, 52);
}

.fade_main_color_header {
  color: rgba(196, 118, 52, 0.5);
  font-weight: bold;
}

.sub_header {
  color: rgb(100, 100, 100);
  font-weight: bold;
}

.main_color_hr {
  border-color: rgb(196, 118, 52);
}

.bubble_image {
  border-radius: 50%;
}

.mobile {
  display: none;
}

.appointment_form .form-control {
  border-color: rgb(196, 118, 52) !important;
  margin: 10px;
}

.appointment_form .form-label {
  font-size: 1em;
  color: rgb(40, 40, 40);
  margin-bottom: 0px !important;
}

.reason_input {
  display: inline;
  max-width: 80%;
}

.form_remark {
  display: inline-block;
}

.main_color_button {
  background-color: rgb(196, 118, 52);
  color: white !important;
  font-size: 1em;
  font-weight: bold;
  border: none !important;
  padding: 10px 60px;
  line-height: 1.5;
  cursor: pointer;
}

.fade_main_color_button {
  background-color: rgb(253, 242, 210);
  color: rgb(196, 118, 52);
  font-size: 1em;
  font-weight: bold;
  border: none !important;
  padding: 10px 60px;
  line-height: 1.5;
}

.fade_main_color_button:hover {
  background-color: rgb(253, 242, 210);
  color: rgb(196, 118, 52) !important;
  text-decoration: none !important;
}

.appointment_form .form-control:focus {
  border-color: rgb(196, 118, 52) !important;
  box-shadow: 0 0 0 0.2rem rgba(196, 118, 52, 0.25) !important;
}

.fade_main_color_background {
  background-color: rgb(253, 242, 210) !important;
  padding: 40px 0px;
}

.fade_grey_color_background {
  background-color: rgb(247, 247, 247);
  padding: 40px 0px;
}

.inner_content_horizon {
  padding: 20px 40px;
}

.sub_color {
  color: rgb(120, 120, 120);
}

.sidebar {
  background-color: rgb(247, 247, 247);
  min-height: 1000px;
}

.side_fade_main_color_background {
  background-color: #FEF7E2;
  color: rgb(40, 40, 40);
  font-size: 1em;
}

.down_marker {
  position: absolute;
  right: 10%;
}

.social_media {
  position: fixed;
  top: 30%;
  left: 0;
  width: 50px;
}

.control {
  position: fixed;
  top: 40%;
  right: 1%;
  width: 50px;
}

.video_frame {
  cursor: pointer;
  z-index: 1000;
}

.side_fade_main_color_category_background {
  background-color: #FEF7E2;
  color: rgb(120, 120, 120);
  font-size: 1em;
}

.side_fade_main_color_background:hover {
  background-color: rgb(196, 118, 52) !important;
  color: white !important;
  text-decoration: none;
  font-size: 1em;
}

.side_fade_main_color_background.selected {
  background-color: rgb(196, 118, 52) !important;
  color: white !important;
  font-size: 1em;
  cursor: unset;
}

.side_no_color_background {
  background-color: unset;
  color: rgb(196, 118, 52);
  font-size: 1em;
}

.white_sidebar_box {
  width: 100%;
  padding: 25px 0px;
  background-color: white !important;
  color: rgb(196, 118, 52);
  /*border-top: 1px solid rgba(196, 118, 52);*/
  border-bottom: 1px solid rgb(196, 118, 52);
}

.white_sidebar_box:hover {
  background-color: rgb(253, 242, 210) !important;
  color: rgb(196, 118, 52);
  /*border-top: 1px solid rgba(196, 118, 52);*/
}

.white_sidebar_box.selected {
  width: 100%;
  padding: 25px 0px;
  background-color: rgb(196, 118, 52) !important;
  color: white !important;
  font-weight: bold;
  /*border-top: 1px solid rgba(196, 118, 52);*/
  border-bottom: 1px solid rgb(196, 118, 52);
  cursor: unset;
}

.last {
  border: none !important;
}

.back_to_top {
  cursor: pointer;
}

.sidebar_box {
  width: 100%;
  padding: 25px 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.course_content {
  line-height: 2;
}

.map_container {
  border: 1px solid rgb(196, 118, 52);
}

.album_photo_index {
  height: 300px;
  object-fit: cover;
}

.album_photo {
  height: 200px;
  width: 100%;
  object-fit: cover;
  margin: 10px;
}

.white_background {
  background-color: white;
}

.photo_frame {
  cursor: pointer;
}

.photo_frame:hover img {
  opacity: 0.5;
}

.SD_banner_image {
  display: none;
}

.normal_font_weight {
  font-weight: 100;
}

.font_enlarge {
  font-size: 1.2em;
  font-weight: 200 !important;
}

#navbar {
  position: fixed !important;
  height: 100% !important;
  width: 100% !important;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0%;
  padding: 0px !important;
}

#mobile_menu {
  width: 60vw;
  height: 100%;
  background-color: white !important;
  transition: right 300ms ease-in-out;
  overflow-y: auto;
}

#mobile_menu li {
  width: 100%;
  border-bottom: 1px solid grey;
  line-height: 1.5;
  font-size: 1em;
}

#mobile_menu li a {
  padding: 25px 0px;
  text-align: center !important;
}

.carousel-indicators li.active {
  background-color: rgb(196, 118, 52);
}

.carousel-indicators li {
  background-color: rgb(150, 150, 150);
}

.inline_mobile {
  display: none;
}

.contact_form {
  padding: 0px 15%;
}

.contact_form .row * h6 {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.footer_block {
  min-height: 50px;
}

.footer {
  font-size: 0.9em;
}

@media screen and (max-width: 992px) {
  .join_course_form {
    width: 90vw;
  }
}
@media screen and (max-width: 768px) {
  .footer_block {
    min-height: 50px;
  }
  .footer {
    font-size: 0.8em;
  }
  .banner_image {
    display: none;
  }
  .contact_form {
    padding: 15px !important;
  }
  .switch_line {
    display: block !important;
  }
  .input-group {
    margin: 10px 0px;
  }
  .inline_mobile {
    display: inline !important;
  }
  .mobile_margin * {
    margin: 10px 0px;
  }
  .bubble_image_table_resize {
    max-width: 80px !important;
  }
  .sidebar {
    background-color: rgb(247, 247, 247);
    min-height: unset !important;
    margin-bottom: 20px;
  }
  .control {
    top: 50% !important;
  }
  .header_social_media {
    display: inline-block !important;
  }
  .inner_content_horizon {
    padding: 0px 20px !important;
  }
  .appointment_form .form-control {
    margin: 0px;
  }
  .social_media {
    top: 50% !important;
  }
  .join_course_form {
    width: 90vw;
  }
  .control {
    position: fixed;
    top: 40%;
    right: 3%;
    width: 50px;
  }
  .mobile_center {
    text-align: center;
  }
  .mobile_center_left {
    padding: 0px 25%;
    text-align: left;
  }
  .SD_banner_image {
    display: block;
  }
  .inner_content {
    padding: 20px;
  }
  .mobile_img {
    display: block;
  }
  .mobile {
    display: block;
  }
  .desktop_only {
    display: none;
  }
  .main_header_zone {
    text-align: center;
  }
  .bottom_table_list {
    position: relative !important;
  }
  .div_padding {
    padding: 20px 15px;
  }
  .desktop_footer_hyperlink {
    display: none;
  }
  .transfer_icon {
    position: relative !important;
  }
  .Desktop_banner {
    display: none;
  }
  .detail_right_box {
    text-align: center;
  }
  .Mobile_banner {
    display: block;
  }
  .div_vertical_middle {
    position: relative !important;
    top: unset !important;
    transform: unset !important;
    text-align: center;
  }
  #solution_header,
#process_header {
    text-align: center;
  }
  .furthermore_container {
    position: relative !important;
  }
  .mobile_footer_hyperlink {
    display: block;
    padding-top: 10px;
  }
  .M_footer_item {
    display: block;
    color: white;
    margin: 10px 0px;
    padding: 10px 0px;
  }
  .forward_icon {
    display: none !important;
  }
  .lower {
    order: 2;
  }
  .upper {
    order: 1;
  }
  .consultation_icon_container {
    text-align: center;
  }
  .consultation_icon {
    position: relative !important;
  }
  .mobile_padding {
    padding: 20px 15px;
  }
  #navbar_container.open {
    left: 0% !important;
    transform: unset !important;
  }
  .logo_background {
    /* background-image: url('/public/images/index_banner_m.png');
    background-repeat: no-repeat;
    background-position: top center!important;
    background-attachment: unset!important; */
  }
  .testing_background_2 {
    background-image: url("/public/images/index_image1_mobile.png");
    background-attachment: unset !important;
    min-height: 800px !important;
  }
  .footer_mobile_padding {
    padding: 20px 15px 20px 15px;
  }
  .contact_form .row * h6 {
    position: relative !important;
    top: unset !important;
    transform: unset !important;
    margin-top: 15px;
  }
}
@media screen and (max-width: 280px) {
  .header_social_media {
    display: block !important;
    left: 0px !important;
  }
}

/*# sourceMappingURL=frontend.css.map */
