.breadcrumb_service_detail .breadcrumb {
  display: flex !important;
  padding: 0 !important;
}

.filter_section h6 {
  margin-bottom: 0;
}

.filter_section .navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.filter_section .navbar-nav .nav-link {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.filter_section .nav-link:hover {
  padding-left: 3rem;
  padding-right: 3rem;
}

.filter_content_section .left-side {
  border-right: 2px solid #008b8b;
}

#navbarSupportedContent .form-control, #navbarSupportedContent .form-select {
  padding-top: 0;
  padding-bottom: 0;
}

#navbarSupportedContent .form-select {
  display: inline-block;
  width: auto;
  border-radius: 25px;
}

#navbarSupportedContent .form-select:focus option:hover {
  background-color: red;
}

#navbarSupportedContent .form-label {
  margin-bottom: 0;
}

#navbarSupportedContent .btn-on, #navbarSupportedContent .btn-off {
  border-color: transparent;
  background-color: #fff;
  color: #00646b;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: none;
  transition: all;
}

#navbarSupportedContent .btn-on.active, #navbarSupportedContent .btn-off.active {
  border-color: transparent;
  background-color: #bde6de;
  color: #fff;
}

#navbarSupportedContent .btn-map {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

#navbarSupportedContent .btn-list {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

#navbarSupportedContent .search {
  width: auto;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

#navbarSupportedContent .search .fa-search {
  top: 17px;
}

#navbarSupportedContent .search .form-control {
  background-color: #fff;
}

#navbarSupportedContent .navbar-nav .nav-link {
  padding: 17px 3rem;
}

#navbarSupportedContent ul li, #navbarSupportedContent1 ul li {
  padding: 0;
}

#navbarSupportedContent .navbar-nav .nav-link.active1, #navbarSupportedContent1 .navbar-nav .nav-link.active1 {
  background-color: #bde6de;
}

.service_target {
  background-color: #00646b;
  margin-right: 20px;
  padding: 17px 30px;
  color: #fff;
}

.seven-cols .col-md-1 {
  width: 100%;
  *width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.seven-cols .col-md-1 .table {
  border-spacing: 0;
}

.seven-cols .col-md-1 .table th, .seven-cols .col-md-1 .table td {
  text-align: left;
}

.seven-cols .col-md-1 .table th {
  color: #00646b;
}

.seven-cols .col-md-1 .table td:first-child {
  width: 23px;
}

.seven-cols .col-md-1 .table > :not(caption) > * > * {
  padding: 0;
  border-bottom-width: 0;
}

.service_region_popup > .col, .service_time_popup > .col, .service_age_popup > .col, .service_gender_popup > .col {
  background-color: #bde6de;
}

.service_target_bar {
  background-color: #00646b;
}

.tags_content .tag {
  font-size: 0.5rem;
  color: #00646b;
  border: 1px solid #00646b;
}

.detail_video_wrapper .card {
  border: none;
}

.detail_video_wrapper .card .card-header {
  background-color: transparent;
  border-bottom: none;
  padding: 0;
}

.detail_video_wrapper .card .card-body {
  padding: 0.5rem;
  text-align: left;
}

.images_wrapper .row > *, .detail_video_wrapper .row > * {
  padding: 5px;
}

.detail_video_wrapper h6.video_title {
  color: #008b8b;
}

.detail_video_wrapper p.video_author {
  color: #808080;
  margin-bottom: 0;
}

.detail_video_wrapper .tags .tag {
  font-size: 0.5rem;
  color: #00646b;
  border: 1px solid #00646b;
}

@media (min-width: 768px) {
  .seven-cols .col-md-1 {
    width: 25%;
    *width: 25%;
  }
}
@media (min-width: 992px) {
  .seven-cols .col-md-1 {
    max-width: 14.2857142857%;
    flex: 0 0 14.2857142857%;
  }
}
@media (min-width: 1200px) {
  .seven-cols .col-md-1 {
    max-width: 14.2857142857%;
    flex: 0 0 14.2857142857%;
  }
}
.service_target_bar, .service_region_popup, .service_time_popup, .service_age_popup, .service_gender_popup {
  display: none;
}

.show_more_btn {
  right: 20px !important;
}

.latest-services .title_wrapper, .hot-services .title_wrapper {
  padding-bottom: 10px;
}

.latest-services h2, .hot-services h2 {
  margin-bottom: 0;
}

.latest-services .card-header, .hot-services .card-header {
  position: relative;
}

.latest-services .manager-pic, .hot-services .manager-pic {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 30%;
}

.latest-services .tab-box > div:first-child, .hot-services .tab-box > div:first-child {
  border-top: 1px solid #008b8b;
  border-left: 1px solid #008b8b;
  border-right: 1px solid #008b8b;
  width: 100%;
  padding: 1rem 0 0.5rem 2rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.latest-services .tab-box > div:first-child .col-md-8, .hot-services .tab-box > div:first-child .col-md-8 {
  justify-content: flex-end !important;
  display: flex !important;
}

.latest-services .tab-box .nav-item .nav-link, .hot-services .tab-box .nav-item .nav-link {
  padding: 0.5rem 1rem !important;
  border-right: 1px solid #000;
}

.latest-services .tab-box .nav-item:last-child .nav-link, .hot-services .tab-box .nav-item:last-child .nav-link {
  border-right: none;
}

.latest-services .tab-box .nav-item .nav-link.active, .hot-services .tab-box .nav-item .nav-link.active {
  color: #008b8b !important;
}

@media screen and (max-width: 768px) {
  .latest-services .tab-box > div:first-child .col-md-8, .hot-services .tab-box > div:first-child .col-md-8 {
    justify-content: flex-start !important;
  }
  .latest-services .tab-box > div:first-child, .hot-services .tab-box > div:first-child {
    width: 100% !important;
  }
  .show_more_btn {
    right: 20px !important;
  }
}
@media screen and (max-width: 992px) {
  .filter_content_section .left-side {
    border-right: none;
  }
}
@media screen and (max-width: 1200px) {
  .latest-services .tab-box > div:first-child, .hot-services .tab-box > div:first-child {
    /*width: 90%;*/
    margin-left: 0 !important;
    margin-right: auto !important;
  }
}
.hot_items a, .hot_places a, .hot_service_providers a, .hot_brands a, .hot_distributors a {
  text-decoration: none;
}

.filter_content_section iframe {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.filter_content_section .mobile-chat-panel {
  display: none;
}

.filter_content_section .mobile-chat-panel .mobile-chat-header {
  background-color: #fff;
  color: #fff;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filter_content_section .mobile-chat-panel .mobile-chat-header .chat-header-info {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #faaf52;
}

.filter_content_section .mobile-chat-panel .mobile-chat-header .mobile-chat-count,
.filter_content_section .mobile-chat-panel .mobile-chat-header .mobile-chat-duration {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 100;
}

.filter_content_section .mobile-chat-panel .mobile-chat-body {
  margin-left: 0;
  margin-right: 0;
  min-height: 50vh;
}

.filter_content_section .mobile-chat-panel .mobile-chat-body > .col-12 {
  margin-bottom: 0 !important;
}

.filter_content_section .mobile-chat-panel .mobile-chat-body .no-chat-record {
  margin-bottom: 15px;
}

.filter_content_section .mobile-chat-panel .mobile-chat-body .mobile-chat-message-block {
  width: 100%;
  height: 50vh;
  margin: 0 auto;
  overflow-y: auto;
  -webkit-box-shadow: 0px 0px 21px -5px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 0px 21px -5px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 0px 21px -5px rgba(0, 0, 0, 0.33);
  /*transform: rotate(180deg);*/
  /*direction: rtl;*/
  /* Scrolling bar styling */
  /* Works on Firefox */
  scrollbar-width: thin;
  scrollbar-color: #74d1cf #ccc;
  /* Works on Chrome, Edge, and Safari */
}

.filter_content_section .mobile-chat-panel .mobile-chat-body .mobile-chat-message-block::-webkit-scrollbar {
  width: 8px;
}

.filter_content_section .mobile-chat-panel .mobile-chat-body .mobile-chat-message-block::-webkit-scrollbar-track {
  background: #ccc;
}

.filter_content_section .mobile-chat-panel .mobile-chat-body .mobile-chat-message-block::-webkit-scrollbar-thumb {
  background-color: #74d1cf;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.filter_content_section .mobile-chat-panel .mobile-chat-body .mobile-chat-area {
  /*background-color: #d4ebd8;*/
  /*height: 100px;*/
  /*padding: 15px;*/
}

.filter_content_section .mobile-chat-panel .mobile-chat-body .mobile-chat-area span {
  color: #515151;
  font-size: 0.8rem;
  margin-right: 5px;
}

.filter_content_section .mobile-chat-panel .mobile-chat-body .mobile-chat-area input {
  width: 100%;
  border-width: 0;
  font-size: 0.8rem;
  padding: 3px;
}

.filter_content_section .mobile-chat-panel .mobile-chat-body .mobile-chat-area .send-target,
.filter_content_section .mobile-chat-panel .mobile-chat-body .mobile-chat-area .send-message {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 80%;
  display: inline-block;
  background-color: #fff;
}

.filter_content_section .mobile-chat-panel .mobile-chat-body .mobile-chat-area .send-target-icon,
.filter_content_section .mobile-chat-panel .mobile-chat-body .mobile-chat-area .send-message-icon {
  width: 33px;
  height: 33px;
  background-color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.chat-message-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.chat-message-wrapper .row {
  font-size: 0.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.chat-message-wrapper > .container > .row {
  border-top: 1px solid #008b8b;
}

.chat-message-wrapper > .container > .row:first-child {
  border-top: none;
}

.chat-message-wrapper .row span, .chat-message-wrapper .row p {
  font-size: 0.9rem;
}

.chat-message-wrapper .row span {
  color: #008b8b;
}

.chat-message-wrapper .row p {
  margin-bottom: 0;
}

.chat-message-wrapper .row .table.shop-info {
  border-spacing: 0;
}

.chat-message-wrapper .row .table.table > :not(caption) > * > * {
  padding: 0;
}

.chat-message-wrapper .row .table.shop-info td {
  border-bottom: none;
}

.chat-message-wrapper .chat-message {
  font-size: 0.75rem;
  color: #000;
  max-width: 600px;
  position: relative;
  word-break: break-all;
  transform: rotate(180deg);
  direction: ltr;
}

.chat-message-wrapper .chat-message .chat-row {
  display: flex;
}

.chat-message-wrapper .chat-message .chat-row .chat-col-left,
.chat-message-wrapper .chat-message .chat-row .chat-col-left-response {
  flex: 85%;
}

.chat-message-wrapper .chat-message .chat-row .chat-col-right,
.chat-message-wrapper .chat-message .chat-row .chat-col-right-response {
  flex: 15%;
}

.chat-message-wrapper .chat-message .chat-row .chat-col-right span,
.chat-message-wrapper .chat-message .chat-row .chat-col-right-response span {
  color: red;
  display: inline-block;
  width: 10px;
}

.chat-message-wrapper .chat-message .chat-row .chat-col-left {
  margin: 15px 0 0 15px;
}

.chat-message-wrapper .chat-message .chat-row .chat-col-right {
  margin: 15px 0 0 0;
}

.chat-message-wrapper .chat-message .chat-row .chat-col-left-response {
  margin-left: 15px;
}

#footerSlideContainer {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

#footerSlideButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
}

#footerSlideContent {
  width: 0;
  height: 100%;
  border: none;
}

#footerSlideText .chat-header {
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: #fff;
  color: #fff;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#footerSlideText .chat-header .chat-header-info {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #faaf52;
}

#footerSlideText .chat-header .chat-count,
#footerSlideText .chat-header .chat-duration {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 100;
}

#footerSlideText .chat-body {
  margin-left: 0;
  margin-right: 0;
  min-height: 100vh;
}

#footerSlideText .chat-body > .col-12 {
  margin-bottom: 0 !important;
}

#footerSlideText .chat-body .no-chat-record {
  margin-bottom: 15px;
}

#footerSlideText .chat-body .chat-message-block {
  width: 100%;
  height: calc(100vh - 17px);
  margin: 0 auto;
  overflow-y: auto;
  background-color: #fff;
  /*transform: rotate(180deg);*/
  /*direction: rtl;*/
  /* Scrolling bar styling */
  /* Works on Firefox */
  scrollbar-width: thin;
  scrollbar-color: #74d1cf #ccc;
  -webkit-box-shadow: 0px 0px 21px -5px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 0px 21px -5px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 0px 21px -5px rgba(0, 0, 0, 0.33);
  /* Works on Chrome, Edge, and Safari */
}

#footerSlideText .chat-body .chat-message-block::-webkit-scrollbar {
  width: 8px;
}

#footerSlideText .chat-body .chat-message-block::-webkit-scrollbar-track {
  background: #ccc;
}

#footerSlideText .chat-body .chat-message-block::-webkit-scrollbar-thumb {
  background-color: #74d1cf;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.btn-broadcast, .btn-message {
  border-radius: 25px;
  color: white;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 0.75rem;
}

.btn-broadcast {
  background-color: #f6921e;
}

.btn-broadcast:hover, .btn-message:hover {
  color: white;
}

.btn-message {
  background-color: #008b8b;
}

@media screen and (max-width: 576px) {
  .filter_content_section .mobile-chat-panel {
    display: block;
  }
  #footerSlideContainer {
    display: none;
  }
}

/*# sourceMappingURL=hashtag.css.map */
