#resident_formatted_address, #business_formatted_address {
  font-size: 0.75rem;
  color: #808080;
}

#password-strength {
  margin-top: 0.5rem;
  width: 80%;
  font-size: 0.9rem;
}

#password-strength-status {
  padding: 0.25rem;
  display: inline-block;
  width: 80%;
}

.weak-password {
  background-color: #FBE1E1;
}

.medium-password {
  background-color: #fd0;
}

.strong-password {
  background-color: #D5F9D5;
}

.btn-password-toggle:focus {
  box-shadow: none;
}

/*# sourceMappingURL=member_register.css.map */
