#progress-container {
  -webkit-box-shadow: none;
  box-shadow: inset none;
  display: none;
}

#avatar-drop_zone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding-top: 60px;
  text-align: center;
  font: 20pt bold "Helvetica";
  color: #bbb;
  height: 140px;
  width: 140px;
}

#avatar-media {
  max-height: 200px;
  max-width: 700px;
}

#branch--add #avatar-media {
  display: none;
}

.show {
  display: block !important;
}

.drag-handler {
  width: 15px;
  height: 15px;
  background: #C00;
  cursor: move;
}

#resident_list, #business_list {
  border-spacing: 0;
}
#resident_list > :not(caption) > * > *, #business_list > :not(caption) > * > * {
  padding: 0 0.5rem;
  border-bottom-width: 0;
}

#resident_formatted_address, #business_formatted_address {
  font-size: 0.75rem;
  color: #808080;
}

#password-strength {
  margin-top: 0.5rem;
  width: 80%;
  font-size: 0.9rem;
}

#password-strength-status {
  padding: 0.25rem;
  display: inline-block;
  width: 85%;
}

.weak-password {
  background-color: #FBE1E1;
}

.medium-password {
  background-color: #fd0;
}

.strong-password {
  background-color: #D5F9D5;
}

.btn-password-toggle:focus {
  box-shadow: none;
}

/*# sourceMappingURL=member_info.css.map */
