.navigation-section .brand-name {
  font-family: "Noto Sans HK Bold";
  color: #008b8b;
  font-size: 1.5rem;
}
.navigation-section .navbar-nav .nav-item {
  padding-right: 0;
  padding-left: 0.75rem;
}
.navigation-section .navbar-nav .nav-item a.active {
  color: #fff !important;
}
.navigation-section .navbar-nav .nav-item a.active:not(#member_login) {
  color: #008b8b !important;
}
.navigation-section .navbar-nav .nav-item a:hover {
  color: #008b8b;
}
.navigation-section .navbar-nav .nav-item.dropdown {
  line-height: 40px;
}
.navigation-section .navbar-nav .nav-item.dropdown a {
  color: rgba(0, 0, 0, 0.5);
}
.navigation-section .navbar-nav .nav-item.dropdown a:hover {
  color: #008b8b;
  text-decoration: none;
}
.navigation-section .navbar-nav .nav-item.dropdown .dropdown-menu {
  min-width: 15rem;
  border: none;
}
.navigation-section .navbar-nav .nav-item.dropdown .dropdown-menu li {
  background-color: white;
  padding-left: 0;
}
.navigation-section .navbar-nav .nav-item.dropdown .dropdown-menu li a {
  padding-left: 0.75rem;
  display: inline-block;
  width: 100%;
}
.navigation-section .navbar-nav .nav-item.dropdown .dropdown-menu li a:hover {
  background-color: #008b8b;
  color: white;
}

#navbar {
  background-color: #e6e6e6;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 16;
  width: 100%;
}
#navbar .dropdown-menu {
  background-color: #e6e6e6;
  padding-left: 15px;
}

.search {
  position: relative;
  /*box-shadow: 0 0 40px rgba(51, 51, 51, .1);*/
  width: 50%;
  margin-bottom: 10px;
}
.search input {
  /*height: 60px;*/
  text-indent: 25px;
  border: 1px solid #d6d4d4;
}
.search input:focus {
  box-shadow: none;
  border: 1px solid #d6d4d4;
}
.search .fa-search {
  position: absolute;
  top: 12px;
  left: 16px;
  color: #008b8b;
}
.search .form-control {
  border-radius: 25px !important;
  background-color: transparent;
}

@media screen and (max-width: 576px) {
  .navigation-section .brand-name {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=navigation.css.map */
