#messageDialogModal .modal-footer {
  justify-content: center;
}
#messageDialogModal .modal-footer .hyperlink_button {
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  border-radius: 500px;
  font-weight: bold;
}
#messageDialogModal .modal-footer .hyperlink_button:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/*# sourceMappingURL=popup_message_dialog.css.map */
