#progress-container {
  -webkit-box-shadow: none;
  box-shadow: inset none;
  display: none;
}

#avatar-drop_zone, #shop-drop_zone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding-top: 60px;
  text-align: center;
  font: bold 13px "Helvetica";
  color: #bbb;
  height: 140px;
  width: 140px;
}

.input-group {
  display: block;
}

#facebook, #instagram, #youtube {
  display: inline-block;
}

.table td, th {
  vertical-align: middle;
}

.table > :not(caption) > * > * {
  padding: 0 0.5rem;
  border-bottom-width: 0;
}

table {
  border-spacing: 0;
}

#provider_list {
  border-spacing: 0;
}
#provider_list > :not(caption) > * > * {
  padding: 0 0.5rem;
  border-bottom-width: 0;
}

#head_office_formatted_address {
  font-size: 0.75rem;
  color: #808080;
}

.provider-block, .brand-block {
  display: none;
}

#keywordDialogModal .modal-footer .hyperlink_button {
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  font-weight: bold;
}

.main_theme_background_color {
  background-color: #008b8b;
}

/*# sourceMappingURL=provider_info.css.map */
