.section-provider-payment-history {
  background-color: #f2f9f9;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-provider-payment-history .table thead th {
  color: #008b8b;
}

.section-provider-payment-history table {
  border-spacing: 0;
}

.section-provider-payment-history .table tbody td {
  border-color: #fff;
}

.section-provider-payment-history .table-striped > tbody > tr:nth-of-type(odd) > * {
  background-color: #bde6de;
}

.section-provider-payment-history .table-striped > tbody > tr:nth-of-type(even) > * {
  background-color: #f2f9f9;
}

/*# sourceMappingURL=provider_payment_history.css.map */
