.service_item .circular--portrait {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.service_item .profile-pic {
  width: auto;
  height: 100%;
  margin-left: 0;
}

.service_item .tag {
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 0px 5px;
  border-radius: 3px;
  min-width: 40px;
  text-align: center;
  display: inline-block;
}

.service_item .square-image {
  object-fit: cover;
  width: 70px;
  height: 70px;
}

.service_item .shop-banner {
  position: relative;
}

.service_item .manager-pic {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 30%;
}

.service_item div[id^=service-item-] {
  display: none;
}

.service_item .feature-bar .nav-link {
  padding-left: 0.8rem !important;
}

.service_item .feature-bar .nav-link:first-child {
  padding-left: 0;
}

.service_item .feature-bar .nav-link, .service_item .feature-bar .nav-link:focus, .service_item .feature-bar .nav-link:hover {
  color: #008b8b;
  font-weight: normal;
}

.service_item .comment-area .col-sm-4:first-child {
  border-right: 1px solid #808080;
}

.service_item .comment-area .table {
  border-spacing: 0;
}

.service_item .comment-area .table > :not(caption) > * > *, .service_item .shop-info .table > :not(caption) > * > * {
  border-bottom-width: 0;
}

.service_item .comment-area .table > :not(caption) > * > * {
  padding: 0;
}

.service_item .comment-area .title-color span {
  font-size: 1rem;
}

.service_item .comment-area .user-comments {
  border: 1px solid #808080;
  border-radius: 10px;
  background-color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.service_item .comment-area .user-comments img {
  max-width: 80px;
}

.service_item .shop-info.card,
.service_item .shop-info .card-header:first-child,
.service_item .shop-info .card-footer:last-child,
.service_item .shop-news.card,
.service_item .shop-news .card-header:first-child,
.service_item .shop-news .card-footer:last-child {
  border-radius: 10px;
}

.service_item .shop-info .card-header, .service_item .shop-info .card-body, .service_item .shop-info .card-footer {
  background-color: #eef9f7;
}

.service_item .shop-news .card-header, .service_item .shop-news .card-body, .service_item .shop-news .card-footer {
  background-color: #fff;
}

.service_item .shop-info .card-header, .service_item .shop-news .card-header {
  border-bottom: none;
}

.service_item .shop-info .card-footer, .service_item .shop-news .card-footer {
  border-top: none;
}

.service_item .shop-info .table {
  border-spacing: 0;
}

.service_item .shop-info .table > :not(caption) > * > * {
  padding: 0.5rem 0;
}

.service_item .shop-info .table > :not(caption) > * > *.no-padding-top {
  padding: 0 0 0.5rem 0;
}

.service_item .shop-info .table > :not(caption) > * > *.no-padding-bottom {
  padding: 0.5rem 0 0 0;
}

.service_item .shop-info .table > :not(caption) > * > *.no-padding {
  padding: 0;
}

.service_item .shop-news .news_title h6 {
  margin-bottom: 0;
  font-weight: 600;
}

.btn-uonlive {
  color: #fff;
  background-color: #008b8b;
  border-color: #008b8b;
  border-radius: 25px;
}

.btn-uonlive-light {
  color: #008b8b;
  background-color: #bde6de;
  border-color: #bde6de;
  border-radius: 25px;
}

.need-share-button-default .need-share-button_button {
  padding: 8px 0 8px 12.8px !important;
}

/*# sourceMappingURL=service_details.css.map */
