.service_nearby_details {
  background-color: #f2f9f9;
}

.service_nearby_details > .container > .row:first-child {
  border: none;
  background-color: transparent;
  margin-top: 0;
  margin-bottom: 0;
}

.service_nearby_details > .container > .row {
  border: 1px solid #808080;
  border-radius: 10px;
  background-color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.service_nearby_details .table > :not(caption) > * > * {
  padding: 0;
}

.service_nearby_details .table {
  border-spacing: 0;
}

.service_nearby_details .table td {
  border-top: unset !important;
  border-bottom: none;
}

.service_nearby_details .table td span {
  color: #008b8b;
  font-weight: 600;
}

.service_nearby_details .table td p {
  margin-bottom: 0;
}

.service_nearby_details .page-link {
  background-color: transparent;
}

/*# sourceMappingURL=service_nearby_list.css.map */
