#chapter--add .table > thead > tr > th,
#chapter--add .table > tbody > tr > th,
#chapter--add .table > tfoot > tr > th,
#chapter--add .table > thead > tr > td,
#chapter--add .table > tbody > tr > td,
#chapter--add .table > tfoot > tr > td,
#chapter--edit .table > thead > tr > th,
#chapter--edit .table > tbody > tr > th,
#chapter--edit .table > tfoot > tr > th,
#chapter--edit .table > thead > tr > td,
#chapter--edit .table > tbody > tr > td,
#chapter--edit .table > tfoot > tr > td {
	border-top: none;
}

input[type=checkbox] {
	opacity: 1;
	left: 0;
}

.btn-video-preview {
	margin-top: -5px!important;
	margin-left: 10px!important;
}
