#email--add .table > thead > tr > th,
#email--add .table > tbody > tr > th,
#email--add .table > tfoot > tr > th,
#email--add .table > thead > tr > td,
#email--add .table > tbody > tr > td,
#email--add .table > tfoot > tr > td,
#email--edit .table > thead > tr > th,
#email--edit .table > tbody > tr > th,
#email--edit .table > tfoot > tr > th,
#email--edit .table > thead > tr > td,
#email--edit .table > tbody > tr > td,
#email--edit .table > tfoot > tr > td {
	border-top: none;
}

#progress-container {
	-webkit-box-shadow: none;
	box-shadow: inset none;
	display:none;
}

#drop_zone {
	border: 2px dashed #bbb;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding-top: 60px;
	text-align: center;
	font: 20pt bold 'Helvetica';
	color: #bbb;
	height: 140px;
	width: 140px;
}

#email-data {
	margin-top: 1em;
	font-size: 1.1em;
	font-weight: 500;
}

/*.btn-info:hover, */
/*.btn-info, */
/*.btn-info:focus,*/
.open .btn-info.dropdown-toggle {
	background-color: #ef4130!important;
	border-color: #ef4130;
}

email {
	display: none;
}

