#landing--add .table > thead > tr > th,
#landing--add .table > tbody > tr > th,
#landing--add .table > tfoot > tr > th,
#landing--add .table > thead > tr > td,
#landing--add .table > tbody > tr > td,
#landing--add .table > tfoot > tr > td,
#landing--edit .table > thead > tr > th,
#landing--edit .table > tbody > tr > th,
#landing--edit .table > tfoot > tr > th,
#landing--edit .table > thead > tr > td,
#landing--edit .table > tbody > tr > td,
#landing--edit .table > tfoot > tr > td {
	border-top: none;
}
#featured-progress-container,
#cover-progress-container,
#preview-progress-container,
#joomag-desktop-progress-container,
#joomag-mobile-progress-container {
	-webkit-box-shadow: none;
	box-shadow: inset none;
	display:none;
}

#featured-drop_zone,
#cover-drop_zone,
#preview-drop_zone,
#joomag-desktop-drop_zone,
#joomag-mobile-drop_zone,
#audio-drop_zone,
#video-drop_zone {
	border: 2px dashed #bbb;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding-top: 60px;
	text-align: center;
	font: 20pt bold 'Helvetica';
	color: #bbb;
	height: 140px;
	width: 140px;
}

/*.btn-info:hover, */
/*.btn-info, */
/*.btn-info:focus,*/
.open .btn-info.dropdown-toggle {
	background-color: #ef4130!important;
	border-color: #ef4130;
}

#featured-image,
#cover-image,
#preview-image,
#joomag-desktop-image,
#joomag-mobile-image,
#audio-media,
#video-media {
	display: none;
	max-height: 200px;
	max-width: 700px;
}

.drag-handler {
	width: 15px;
	height: 15px;
	background: #C00;
	cursor: move;
}

.chapter_table {
	background-color: #fbfbfb!important;
}

.chapter_table_wrapper .table > thead > tr > th,
.chapter_table_wrapper .table > tbody > tr > th,
.chapter_table_wrapper .table > tfoot > tr > th,
.chapter_table_wrapper .table > thead > tr > td,
.chapter_table_wrapper .table > tbody > tr > td,
.chapter_table_wrapper .table > tfoot > tr > td {
	border-top: 1px solid #ddd!important;
}
