#payment_method--add .table > thead > tr > th,
#payment_method--add .table > tbody > tr > th,
#payment_method--add .table > tfoot > tr > th,
#payment_method--add .table > thead > tr > td,
#payment_method--add .table > tbody > tr > td,
#payment_method--add .table > tfoot > tr > td,
#payment_method--edit .table > thead > tr > th,
#payment_method--edit .table > tbody > tr > th,
#payment_method--edit .table > tfoot > tr > th,
#payment_method--edit .table > thead > tr > td,
#payment_method--edit .table > tbody > tr > td,
#payment_method--edit .table > tfoot > tr > td {
	border-top: none;
}

#brand-progress-container,
#qrcode-progress-container {
	-webkit-box-shadow: none;
	box-shadow: inset none;
	display:none;
}

#brand-drop_zone,
#qrcode-drop_zone {
	border: 2px dashed #bbb;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding-top: 60px;
	text-align: center;
	font: 20pt bold 'Helvetica';
	color: #bbb;
	height: 140px;
	width: 140px;
}

#brand-image,
#qrcode-image {
	display: none;
	max-height: 200px;
}

.drag-handler {
	width: 15px;
	height: 15px;
	background: #C00;
	cursor: move;
}

