#video-block {
	display: none;
}

#progress-container {
	-webkit-box-shadow: none;
	box-shadow: inset none;
	display:none;
}

#avatar-drop_zone,
#card-drop_zone {
	border: 2px dashed #bbb;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding-top: 60px;
	text-align: center;
	font: 20pt bold 'Helvetica';
	color: #bbb;
	height: 140px;
	width: 140px;
}

#avatar-media,
#card-media {
	max-height: 200px;
	max-width: 700px;
}

#branch--add #avatar-media, #branch--add #card-media {
	display: none;
}

.show {
	display: block!important;
}

.drag-handler {
	width: 15px;
	height: 15px;
	background: #C00;
	cursor: move;
}

.fc-event {
	border: none;
	background-color: transparent;
}

.fc-event, .fc-event-title, .fc-event-time {
	color: black;
}

.font-weight-bold {
	font-weight: 600;
}

.attendance-table input[type=checkbox] {
	opacity: 1;
	position: unset;
	left: 0;
}

#attend_time_group, #leave_time_group {
	display: inline-block;
}

input[id^="attend_time_"], input[id^="leave_time_"] {
	width: 200px;
	margin-left: 5px;
}