#subscriber--add .table > thead > tr > th,
#subscriber--add .table > tbody > tr > th,
#subscriber--add .table > tfoot > tr > th,
#subscriber--add .table > thead > tr > td,
#subscriber--add .table > tbody > tr > td,
#subscriber--add .table > tfoot > tr > td,
#subscriber--edit .table > thead > tr > th,
#subscriber--edit .table > tbody > tr > th,
#subscriber--edit .table > tfoot > tr > th,
#subscriber--edit .table > thead > tr > td,
#subscriber--edit .table > tbody > tr > td,
#subscriber--edit .table > tfoot > tr > td {
	border-top: none;
}

.iti__selected-flag, .iti__country-list {
	z-index: 100;
}
